<div id='<%= view %>-actions-<%= i %>' class='collapse collapsable-actions flex-list'>
  <ul>
    <li>
      <%= link_to t('oregon_digital.explore_collections.actions.view'), hyrax.collection_path(collection.id), class: 'btn btn-primary' %>
    </li>
    <li>
      <%= button_tag t('oregon_digital.explore_collections.actions.edit'),
            class: 'btn btn-primary',
            data: {
              toggle: 'modal',
              target: '#collection-edit-container',
            },
            onclick: "javascript:open_edit_my_collection_modal('#{collection.id}')"
      %>
    </li>
    <li>
      <%= button_tag t('oregon_digital.explore_collections.actions.share'),
            class: 'btn btn-primary',
            data: {
              toggle: 'modal',
              target: collection.visibility == Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC ? '#collection-unshare-container' : '#collection-share-container',
              post_url: hyrax.dashboard_collection_path(collection.id),
              share_url: hyrax.collection_url(collection.id)
            },
            onclick: 'javascript:open_share_my_collection_modal(this)'
      %>
    </li>
    <li>
      <%= button_tag t('oregon_digital.explore_collections.actions.export'),
            class: 'btn btn-primary',
            data: {
              toggle: 'modal',
              target: '#collection-export-container',
              export_url: download_collection_path(collection.id)
            },
            onclick: 'javascript:open_export_my_collection_modal(this)'
      %>
    </li>
    <li>
      <%= button_tag t('oregon_digital.explore_collections.actions.delete'),
            class: 'btn btn-danger',
            data: {
              toggle: 'modal',
              target: '#collection-delete-container',
              delete_url: hyrax.dashboard_collection_path(collection.id)
            },
            onclick: 'javascript:open_delete_my_collection_modal(this)'
      %>
    </li>
  </ul>
</div>
<%= button_tag t('oregon_digital.explore_collections.actions.expand'), type: 'button', data: { toggle: 'collapse', target: "##{view}-actions-#{i}" }, aria: { expanded: 'false', controls: "##{view}-actions-#{i}" } %>
