<div id='<%= view %>-actions-<%= i %>' class='collapse collapsable-actions flex-list'>
  <ul>
    <li>
      <a data-toggle="modal" data-target="#collection-edit-container" onClick="open_edit_my_collection_modal('<%= collection.id %>')" class="btn btn-primary"><%= t('oregon_digital.explore_collections.actions.edit') %></a>
    </li>
    <li>
      <a data-toggle="modal"
         data-target="#collection-delete-container"
         data-post-delete-url="<%= hyrax.dashboard_collection_path(collection.id) %>"
         onClick="open_delete_my_collection_modal(this)"
         class="btn btn-primary">
          <%= t('oregon_digital.explore_collections.actions.delete') %>
      </a>
    </li>
  </ul>
</div>
<%= button_tag t('oregon_digital.explore_collections.actions.expand'), type: 'button', data: { toggle: 'collapse', target: "##{view}-actions-#{i}" }, aria: { expanded: 'false', controls: "##{view}-actions-#{i}" } %>
