<div class='actions flex-list'>
  <ul>
    <li>
      <%= button_tag t('oregon_digital.explore_collections.actions.edit'),
            class: 'link',
            data: {
              toggle: 'modal',
              target: '#collection-edit-container',
            },
            onclick: "javascript:open_edit_my_collection_modal('#{collection.id}')"
      %>
    </li>
    <li>
      <%= button_tag t('oregon_digital.explore_collections.actions.delete'),
            class: 'link',
            data: {
              toggle: 'modal',
              target: '#collection-delete-container',
              delete_url: hyrax.dashboard_collection_path(collection.id)
            },
            onclick: 'javascript:open_delete_my_collection_modal(this)'
      %>
    </li>
    <li>
      <%= button_tag t('oregon_digital.explore_collections.actions.export'),
            class: 'link',
            data: {
              toggle: 'modal',
              target: '#collection-export-container',
              export_url: download_collection_path(collection.id)
            },
            onclick: 'javascript:open_export_my_collection_modal(this)'
      %>
    </li>
    <li>
      <%= simple_form_for OregonDigital::Forms::CollectionForm.new(Collection.new, current_ability, controller.search_service.repository), url: hyrax.dashboard_collection_path(collection.id), method: :patch, html: { id: "new-collection-#{collection.id}"} do |f| %>
        <% if collection.visibility == Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC %>
          <%= hidden_field_tag 'collection[visibility]', Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE, id: "collection-visibility-#{collection.id}" %>
          <%= hidden_field_tag 'unsharing', true, id: "unsharing-#{collection.id}" %>
          <%= f.submit t(:'hyrax.collection.select_form.unshare'), class: 'link', name: "unshare_collection" %>
        <% else %>
          <%= hidden_field_tag 'collection[visibility]', Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC, id: "collection-visibility-#{collection.id}" %>
          <%= hidden_field_tag 'sharing', true, id: "sharing-#{collection.id}" %>
          <%= f.submit t(:'hyrax.collection.select_form.share'), class: 'link', name: "share_collection" %>
        <% end %>
      <% end %>
    </li>
    <li class="center-text <%#= 'invisible visible-md visible-lg' unless collection.visibility == Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC %>">
      <% if collection.visibility == Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC %>
      <input id="list-<%= collection.id %>-share-link" readonly value="<%= hyrax.collection_url(collection.id) %>">
      <button id="copy-button" class="copy-single-use-link btn btn-success" data-clipboard-target="#list-<%= collection.id %>-share-link" data-clipboard-action="copy" data-toggle="tooltip" data-placement="bottom">
        Copy
      </button>
      <% end %>
    </li>
  </ul>
</div>
