<div id='<%= view %>-actions-<%= i %>' class='actions'>
  <ul>
    <li>
      <%= link_to t('oregon_digital.explore_collections.actions.view'), hyrax.collection_path(collection.id), class: 'btn btn-primary' %>
    </li>
    <li>
      <%= button_tag t('oregon_digital.explore_collections.actions.edit'),
            class: 'btn btn-primary',
            data: {
              toggle: 'modal',
              target: '#collection-edit-container',
            },
            onclick: "javascript:open_edit_my_collection_modal('#{collection.id}')"
      %>
    </li>
    <li>
      <%= simple_form_for OregonDigital::Forms::CollectionForm.new(Collection.new, current_ability, controller.repository), url: hyrax.dashboard_collection_path(collection.id), method: :patch, html: { id: "new-collection-#{collection.id}"} do |f| %>
        <% if collection.visibility == Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC %>
          <%= hidden_field_tag 'collection[visibility]', Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE, id: "collection-visibility-#{collection.id}" %>
          <%= hidden_field_tag 'unsharing', true, id: "unsharing-#{collection.id}" %>
          <%= f.submit t(:'hyrax.collection.select_form.unshare'), class: 'btn btn-primary', name: "unshare_collection" %>
        <% else %>
          <%= hidden_field_tag 'collection[visibility]', Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC, id: "collection-visibility-#{collection.id}" %>
          <%= hidden_field_tag 'sharing', true, id: "sharing-#{collection.id}" %>
          <%= f.submit t(:'hyrax.collection.select_form.share'), class: 'btn btn-primary', name: "share_collection" %>
        <% end %>
      <% end %>
    </li>
    <li>
      <%= button_tag t('oregon_digital.explore_collections.actions.export'),
            class: 'btn btn-primary',
            data: {
              toggle: 'modal',
              target: '#collection-export-container',
              export_url: download_collection_path(collection.id)
            },
            onclick: 'javascript:open_export_my_collection_modal(this)'
      %>
    </li>
    <li>
      <%= button_tag t('oregon_digital.explore_collections.actions.delete'),
            class: 'btn btn-danger',
            data: {
              toggle: 'modal',
              target: '#collection-delete-container',
              delete_url: hyrax.dashboard_collection_path(collection.id)
            },
            onclick: 'javascript:open_delete_my_collection_modal(this)'
      %>
    </li>
  </ul>
  <% if collection.visibility == Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC %>
    <div class="center-text">
      <input id="<%= view %>-<%= collection.id %>-share-link" value="<%= hyrax.collection_url(collection.id) %>">
      <button id="copy-button" class="btn btn-success" data-clipboard-target="#<%= view %>-<%= collection.id %>-share-link" type="button" data-clipboard-action="copy" data-toggle="tooltip" data-placement="bottom">
        Copy
      </button>
    </div>
  <%end%>
</div>
