<div id="<%= tab %>" class="">
  <%= render 'display_mode_buttons', tab: tab %>
  <h3 class='sr-only'><%= header %> </h3>
  <% if collections.nil? %>
  <% else %>
    <div class="tab-content">
      <div id="<%= tab %>-masonry" class="tab-pane fade in active" data-behavior="masonry-gallery">
        <%= render 'masonry_showcase', collections: collections, tab: tab %>
      </div>
      <div id="<%= tab %>-list" class="tab-pane fade">
        <%= render 'list_showcase', collections: collections, tab: tab %>
      </div>
    </div>
  <% end %>
</div>