<div class="masonry document collection">
  <div class="thumbnail">
    <%= link_to(url_for_document(document)) do |body| %>
      <span class="gradient-wrapper"><%= image_tag thumbnail_url(document), alt: "" %></span>
      <p class="visible-all-inline h5">
      </p>
        <%= document.title_or_label.truncate(89).html_safe %>
        <% if current_ability.admin? ? false : controller.institution_restricted?(document.id) %>
          <span class="glyphicon glyphicon-lock"></span>
        <% end %>
      </p>
      <span class="dark-grey">(<%= controller.total_viewable_items(document.id) %>)</span>
    <% end %>
  </div>
  <%= render_document_partials document, blacklight_config.view_config(:masonry).partials, :document_counter => document_counter %>
  <% if controller.tab == controller.class::TABS[:my] %>
  <td>
    <%= render 'actions_list', collection: document %>
  </td>
  <% end %>
</div>
