<table class="table">
  <thead>
    <tr>
      <td> <%= t('oregon_digital.explore_collections.list.header.collection_name') %> </td>
      <td> <%= t('oregon_digital.explore_collections.list.header.institution') %> </td>
      <td> <%= t('oregon_digital.explore_collections.list.header.count') %> </td>
    </tr>
  </thead>
  <tbody>
    <% collections.each_with_index do |collection, i| %>
      <tr>
        <td> <%= link_to collection.title_or_label, [hyrax, collection] %> </td>
        <td> <%= collection.institution.first ? collection.institution.first : t('oregon_digital.explore_collections.list.row.institution.default') %> </td>
        <td> <%= controller.total_viewable_items(collection.id) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>