<% collections.each_with_index do |collection, i| %>
  <div class="masonry document text-center col-xs-6 col-md-3">
    <%= render 'showcase_tile',
          title: collection.title_or_label,
          count: controller.total_viewable_items(collection.id),
          link: [hyrax, collection],
          img: render_thumbnail_tag(collection, {alt: ''}, { suppress_link: true }) %>

    <% if tab == controller.class::TABS[:my] %>
      <div id='my-actions-<%= i %>' class='collapse'>
        <div class="collapsable-actions">
            <a data-toggle="modal" data-target="#collection-edit-container" onClick="open_edit_modal('<%= collection.id %>')" class="btn btn-primary"><%= t('oregon_digital.explore_collections.actions.edit') %></a>
          </div>
      </div>
      <%= button_tag t('oregon_digital.explore_collections.actions.expand'), type: 'button', data: { toggle: 'collapse', target: "#my-actions-#{i}" }, aria: { expanded: 'false', controls: "#my-actions-#{i}" } %>
    <% end %>
  </div>
<% end %>