<div class="thumbnail">
  <%= link_to link do %>
    <%= img %>
    <h3 class="visible-all-inline-block"> <%= title %> <%= locked %> </h3>
    <span class="dark-grey"><%= "(#{count} items)" %></span>
  <% end %>
</div>
