<div class="thumbnail">
  <%= link_to link do %>
    <%= img %>
    <% if restricted %>
      <h3 class="visible-all-inline-block"> <%= title %> <div class="glyphicon glyphicon-lock"></span></h3>
    <% else %>
      <h3 class="visible-all-inline-block"> <%= title %> </h3>
    <% end %>
    <span class="dark-grey"><%= "(#{count} items)" %></span>
  <% end %>
</div>
