<h2 class='sr-only'>Explore Collections</h2>

<%= render 'explore_tabs', tab: controller.tab %>

<div id="explore-panes" class="tab-content">
  <%= render 'collection_tab', tab: controller.tab, collections: controller.collections, header: 'Oregon State University collections' %>
</div>

<%= render 'oregon_digital/explore_collections/form_for_edit_collection' %>
<%= render 'oregon_digital/explore_collections/form_for_export_collection' %>
<%= render 'oregon_digital/explore_collections/form_for_delete_collection' %>