<h2 class='sr-only'>ExploreCollections</h2>

<div id="explore-tabs" class='text-center'>
  <ul class='nav nav-pills visible-all-inline-block'>
    <li class="active"><div class="stacker-container"><a class="btn btn-outline" data-toggle="pill" href="#all">All<br></a><div class="triangle_down_all"></div></div></li> 
    <li><div class="stacker-container"><a class="btn btn-outline" data-toggle="pill" href="#osu">Oregon State<br>University</a><div class="triangle_down_osu"></div></div></li>
    <li><div class="stacker-container"><a class="btn btn-outline" data-toggle="pill" href="#uo">University of<br>Oregon</a><div class="triangle_down_uo"></div></div></li>
    <li><div class="stacker-container"><a class="btn btn-outline" data-toggle="pill" href="#my">My<br>Collections</a><div class="triangle_down_my"></div></div></li>
  </ul>
</div>

<div id="explore-panes" class="tab-content">
  <%= render 'collection_tab', tab: controller.class::TABS[:all], collections: controller.collections, header: 'All collections' %>
  <%= render 'collection_tab', tab: controller.class::TABS[:osu], collections: controller.osu_collections, header: 'Oregon State University collections' %>
  <%= render 'collection_tab', tab: controller.class::TABS[:uo], collections: controller.uo_collections, header: 'University of Oregon collections' %>
  <%= render 'collection_tab', tab: controller.class::TABS[:my], collections: current_user.nil? ? nil : controller.my_collections, header: 'My collections' %>
</div>

<%= render 'oregon_digital/explore_collections/form_for_edit_collection' %>
<%= render 'oregon_digital/explore_collections/form_for_export_collection' %>
<%= render 'oregon_digital/explore_collections/form_for_delete_collection' %>