<h1 class='sr-only'>Explore Collections</h1>

<%= render 'explore_tabs', tab: controller.tab %>

<div class="container">
  <%= render 'constraints' %>
  <%= render controller.tab == controller.class::TABS[:my] ? 'my_search_results' : 'search_results' %>
</div>

<% if controller.tab == controller.class::TABS[:my] %>
<%= render 'oregon_digital/explore_collections/collection_edit_data' %>
<%= render 'oregon_digital/explore_collections/form_for_edit_collection' %>
<%= render 'oregon_digital/explore_collections/form_for_export_collection' %>
<%= render 'oregon_digital/explore_collections/form_for_delete_collection' %>
<% end %>