<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>" prefix="og: http://ogp.me/ns#">
  <head>
    <%= render partial: 'layouts/head_tag_content' %>
    <%= content_for(:head) %>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar" class="dashboard">
    <a id='skip-nav' class='sr-only' href='#main-content'>
      Skip to Content
    </a>
    <%= render '/masthead' %>
    <%= content_for(:navbar) %>
    <div id="content-wrapper">
      <div class="sidebar maximized">
        <%= render 'hyrax/dashboard/sidebar' %>
      </div>
      <div class="container">
        <%= render_breadcrumbs builder: Hyrax::BootstrapBreadcrumbsBuilder %>
      </div>
      <div class="main-content maximized" role="main">
        <%= render '/flash_msg' %>
        <% if content_for?(:page_header) %>
          <div class="row">
            <div class="col-12 main-header">
              <%= yield(:page_header) %>
            </div>
          </div>
        <% end %>
        <div id="main-content">
        <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </div>

    <!-- /#content-wrapper -->
    <%= render 'shared/modal' %>
  </body>
</html>
