<%# alternate version of facets on form that renders using multi-select.
    Has to copy and paste more code from blacklight than default, making
    it somewhat more fragile.

    Logic taken from facets_helper_behavior.rb, #render_facet_partials and
    #render_facet_limit.
%>
<%# OVERRIDE blacklight_advanced_search to only work on collection defined facets %>
<% controller.reconfigure_blacklight_facets blacklight_config %>
<% facet_field_names = @configured_facets.map(&:solr_name) %>
<% facet_field_names.each do |facet_field_name| %>
    <% display_facet = @response.aggregations[facet_field_name] %>
    <% if display_facet.items.present? %>
        <div class="advanced-search-facet">
            <%= label_tag display_facet.name.parameterize, :class => "col-md-12 dark-grey h6" do %>
                <%= facet_field_label(display_facet.name) %>
            <% end %>

            <% unless display_facet.name == 'date_combined_year_label_ssim' %>
                <div class="col-md-12">
                    <%= content_tag(:select, :multiple => true,
                        :name   => "f[#{display_facet.name}][]",
                        'data-placeholder' => 'Start typing or choose from list',
                        :id     => display_facet.name.parameterize,
                        :class  => "form-control advanced-search-facet-select") do %>
                        <% display_facet.items.each do |facet_item| %>
                            <%= content_tag :option, facet_item.value do %>
                                <%= facet_item.label %>&nbsp;&nbsp;(<%= number_with_delimiter facet_item.hits %>)
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            <% else %>
                <div class="col-sm-5 v-center">
                    <%= content_tag(:input, nil,
                        :name   => "range[#{display_facet.name}][begin]",
                        :type   => "number",
                        :id     => display_facet.name.parameterize,
                        :class  => "form-control") %>
                </div>
                <div class="col-sm-2 v-center" style="text-align:center"> to </div>
                <div class="col-sm-5 v-center">
                    <%= content_tag(:input, nil,
                        :name   => "range[#{display_facet.name}][end]",
                        :type   => "number",
                        :id     => display_facet.name.parameterize,
                        :class  => "form-control") %>
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>