<div class="thumbnail">
    <div id="image-<%= title %>" onmouseover='toggleTitleOn("<%= title %>")' onmouseout='toggleTitleOff("<%= title %>")'>
      <%= img %>
      <div class=<%= "show-me" + title %> style="margin-top: -29px; margin-left: -47px; display: none; color: white;">
        <%= title %>
      </div> 
    </div>
  </div>
</div>