<div class="thumbnail">
    <div id="image-<%= index %>">
      <%= link_to link, aria: { label: title } do |body| %>
        <%= img %>
        <span class="h3 hover-over-collection-text show-me<%= index %>" >
          <%= title %>
        </span>
      <% end %>
    </div>
  </div>
</div>