<div class="thumbnail">
    <div id="image-<%= index %>" onmouseover='toggleTitleOn("<%= index %>")' onmouseout='toggleTitleOff("<%= index %>")'>
      <%= img %>
      <div class=<%= "show-me#{index}" %> style="margin-top: -29px; margin-left: -47px; display: none; color: white;">
        <%= title %>
      </div> 
    </div>
  </div>
</div>