<div class="thumbnail">
    <div id="image-<%= index %>">
      <%= link_to link do |body| %>
        <%= img %>
        <h3 class="hover-over-collection-text show-me<%= index %>" >
          <%= title %>
        </h3>
      <% end %>
    </div>
  </div>
</div>