<div class="thumbnail">
    <div id="image-<%= index %>" onmouseover='toggleTitleOn("<%= index %>")' onmouseout='toggleTitleOff("<%= index %>")'>
      <%= img %>
      <div class=<%= "hover-over-collection-text show-me#{index}" %>>
        <%= title %>
      </div> 
    </div>
  </div>
</div>