<% provide :page_title, construct_page_title(@presenter.title) %>
<% collection_index_key = controller.collection.collection_type.machine_id == 'user_collection' ? 'user_collections_ssim' : 'non_user_collections_ssim' %>
<% view_all_url = "#{search_form_action.split('#')[0]}&f[#{collection_index_key}][]=#{@presenter.id}" %>
<% footer_metadata = render 'attribute_rows_footer', presenter: @presenter %>

<div class="hyc-container collection-header" itemscope itemtype="http://schema.org/CollectionPage">
  <div class="row hyc-header">
    <%# Title, view, and description %>
    <div class="hyc-generic">
      <div class="col-md-8 col-xs-12">
        <div class="hyc-title">
          <h1><%= @presenter.title.first %></h1>
          <div class="collection-subtitle">
            <span class="lg-border-right item-count">
              <%= [ @presenter.total_viewable_items,  @members_count ].min %>
              <%= 'Item'.pluralize(@presenter.total_viewable_items) %>
            </span>
            <span>
              <%= link_to "View all", view_all_url %>
            </span>
          </div>
        </div>
        <div class="hyc-desc mw-lg">
          <%= render 'collection_description', presenter: @presenter unless @presenter.description.first.nil? %>
        </div>
      </div>
      <%# Institutional image %>
      <div class="col-sm-4 col-sm-offset-7 col-md-offset-0 text-right hidden-xs institution-header">
        <%# check if institution is OSU or UO. OSU image needs 100px hieght, UO 55px %>
        <% path, alt, style = controller.institution_image_info %>
        <%= image_tag path, alt: alt, style: style %>
      </div>
      <%# Social media share icons %>
      <div class="col-xs-12 text-right share-links">
        <div class="collapse" aria-expanded="false" id="collapsible-metadata">
          <dl class="work-show lato-p <%= dom_class(@presenter) %>" <%= @presenter.microdata_type_to_html %>>
            <%= render 'attribute_rows', presenter: @presenter %>
          </dl>
        </div>
        <div class="flex-container">
          <div class="metadata-expand flex-item text-left">
            <% unless @presenter.description.first.nil? %>
              <button class="btn-link lato-p" type="button" data-toggle="collapse" data-target="#collapsible-metadata" aria-expanded="false" aria-controls="collapsible-metadata">
                <span class="collapsed">
                  Read More
                </span>
                <span class="expanded">
                  Read Less
                </span>
              </button>
              <br/>
              <br/>
            <% end %>
            <% unless footer_metadata.empty? %>
              <a href="#footer-metadata" class="lato-p hidden-xs">
                Additional Collection Information
              </a>
            <% end %>
          </div>
          <div class="institution-footer text-right visible-xs">
            <%# check if institution is OSU or UO. OSU image needs 100px hieght, UO 55px %>
            <% path, alt, style = controller.institution_image_info %>
            <%= image_tag path, alt: alt, style: style %>
          </div>
          <div class="flex-item social-links">
            <%= render '/shared/fileset_collection_social_media' unless controller.collection.collection_type.machine_id == 'user_collection' && controller.collection.visibility != 'open' %>
          </div>
        </div>
        <div class="lg-border-bottom clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div class="hyc-container collection-main" itemscope itemtype="http://schema.org/CollectionPage">
  <h2 class="sr-only"> featured works</h2>
  <div class="row">
    <div class="hyc-blacklight hyc-bl-results hyc-bl-search hyc-bl-collection">
      <div id="documents">
        <% # container for all documents in index view -%>
        <div class="blurred-image" id="thumbnails" data-behavior="masonry-gallery">
          <div id="masonry-sizer"></div>
          <div id="masonry-gutter-sizer"></div>
          <%= render collection: controller.collection.representative_docs, as: :document, partial: 'showcase_tile', locals: {count: @member_docs.length} %>
        </div>

        <div class='button-text-mask'>
          <p class="sample-txt">Test text in the middle</p>
          <button type="button" class="btn btn-primary" onclick="this.parentNode.style.display = 'none'; $('.blurred-image').removeClass('blurred-image')">I Understand</button>
        </div>
      </div>
    </div>
  </div>

  <%= render 'shared/colored_divider', color: 'lime-green' do %>
    <a href="<%= view_all_url %>" class='btn btn-lg btn-primary collection-landing-button col-sm-10'>View All</a>
    <%# NEW BUTTON: Add in an edit button to collection rather than going through the dashboard %>
    <% if user_signed_in? && current_ability.can?(:edit, @presenter.solr_document) && @presenter.collection_type.machine_id != 'user_collection' %>
      <a href="<%= edit_dashboard_collection_path %>" class='btn btn-lg btn-primary collection-landing-button col-sm-10'>Edit Collection</a>
    <% end %>
    <%# DOWNLOAD: Add in download button for user collection %>
    <% if @collection.sharable? && @collection.visibility == 'open' && current_ability.can?(:download, @collection) %>
      <a href="<%= main_app.download_collection_path %>" class='btn btn-lg btn-primary collection-landing-button col-sm-10'>Download Collection</a>
    <% end %>
  <% end %>

  <div class="row">
    <div class="text-center"><h2 class="collection-search-header">OR, SEARCH THIS COLLECTION</h2></div>
  </div>

  <!-- Search bar -->
  <div class="hyc-blacklight hyc-bl-search hyc-body row advanced-search-form">
    <div class="col-sm-12">
      <%= render 'advanced_search_form', presenter: @presenter, search_catalog_path: main_app.search_catalog_path %>
    </div>
  </div>

  <%= render 'shared/colored_divider', color: 'lime-green' do %>
    <button type="submit" form="collection-search" class='btn btn-lg btn-primary collection-landing-button col-sm-10'><i class='glyphicon glyphicon-search'></i> Search</button>
  <% end %>

  <% unless footer_metadata.empty? %>
    <div id="footer-metadata" class="row">
      <div class="col-md-12">
        <h2 class="collection-metadata-header">Explore more about the collection</h2>
        <dl class="work-show lato-p <%= dom_class(@presenter) %>" <%= @presenter.microdata_type_to_html %>>
          <%= render 'attribute_rows_footer', presenter: @presenter %>
        </dl>
      </div>
    </div>
  <% end %>

  <% if (current_user && can?(:edit, @curation_concern)) %>
    <%= render partial: 'show_document_list', documents: @collection_member_service.available_member_works.documents %>
    <%= render 'results_pagination' %>
  <% end %>
</div>
