<% provide :page_title, construct_page_title(@presenter.title) %>
<% view_all_url = "#{search_form_action}&f[non_user_collections_ssim][]=#{@presenter.to_s}" %>

<div class="hyc-container collection-show" itemscope itemtype="http://schema.org/CollectionPage">
  <div class="row hyc-header">
    <%# Title, view, and description %>
    <div class="hyc-generic">
      <div class="col-md-8 col-sm-8">
        <div class="hyc-title">
          <h1><%= @presenter.title.first %></h1>
          <span class="lg-border-right item-count">
            <%= @presenter.total_viewable_items %>
            <%= 'Item'.pluralize(@presenter.total_viewable_items) %>
          </span>
          <span>
            <%= link_to "View all items in collection", view_all_url %>
          </span>
        </div>
        <div class="hyc-desc mw-lg">
          <%= render 'collection_description', presenter: @presenter %>
        </div>
      </div>
      <%# Institutional image %>
      <div class="col-md-4 col-sm-4 text-right">
        <%# check if institution is OSU or UO. OSU image needs 100px hieght, UO 55px %>
        <% path, alt, style = controller.institution_image_info %>
        <%= image_tag path, alt: alt, style: style %>
      </div>
      <%# Social media share icons %>
      <div class="col-md-12 text-right share-links">
        <div class=" lg-border-bottom">
        <%= render 'hyrax/base/social_media' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hyc-container" itemscope itemtype="http://schema.org/CollectionPage">
  <h2 class="sr-only"> featured works</h2>
  <div class="row">
    <div class="hyc-blacklight hyc-bl-results">
      <div id="documents">
        <% # container for all documents in index view -%>
        <div class="" id="thumbnails" data-behavior="masonry-gallery">
          <div id="masonry-sizer"></div>
          <div id="masonry-gutter-sizer"></div>
          <%= render collection: controller.collection.representative_docs, as: :document, partial: 'showcase_tile', locals: {count: @member_docs.length} %>
        </div>
      <div class="col-md-12 lg-border-bottom"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns col-md-12">
      <dl class="work-show lato-p <%= dom_class(@presenter) %>" <%= @presenter.microdata_type_to_html %>>
        <%= render 'attribute_rows', presenter: @presenter %>
      </dl>
    </div>
  </div>

  <%= render 'lime_green_divider' do %>
    <a href="<%= view_all_url %>" class='btn btn-lg btn-primary collection-landing-button col-sm-10'>View All Items</a>
  <% end %>

  <div class="row">
    <div class="text-center"><h2 class="collection-search-header">OR, SEARCH THIS COLLECTION</h2></div>
  </div>

  <!-- Search bar -->
  <div class="hyc-blacklight hyc-bl-search hyc-body row">
    <div class="col-sm-12">
      <%= render 'advanced_search_form', presenter: @presenter, search_catalog_path: main_app.search_catalog_path %>
    </div>
  </div>

  <%= render 'lime_green_divider' do %>
    <button type="submit" form="collection-search" class='btn btn-lg btn-primary collection-landing-button col-sm-10'><i class='glyphicon glyphicon-search'></i> Search</button>
  <% end %>
</div>
