<% provide :page_title, construct_page_title(@presenter.title) %>
<% view_all_url = "#{search_form_action}&f[non_user_collections_ssim][]=#{@presenter.to_s}" %>

<div class="hyc-container collection-show" itemscope itemtype="http://schema.org/CollectionPage">
  <div class="row hyc-header">
    <%# Title, view, and description %>
    <div class="hyc-generic">
      <div class="col-md-8">
        <div class="hyc-title">
          <h1><%= @presenter.title.first %></h1>
          <span class="lg-border-right item-count">
            <%= @presenter.total_viewable_items %>
            <%= 'Item'.pluralize(@presenter.total_viewable_items) %>
          </span>
          <span>
            <%= link_to 'View all', view_all_url %>
          </span>
        </div>
        <div class="hyc-desc mw-lg">
          <%= render 'collection_description', presenter: @presenter %>
        </div>
      </div>
      <%# Institutional image %>
      <div class="col-md-4 text-right">
        <%= image_tag controller.institution_image_path, alt: '' %>
      </div>
      <%# Social media share icons %>
      <div class="col-md-12 text-right share-links">
        <div class=" lg-border-bottom">
        <%= render 'hyrax/base/social_media' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hyc-container" itemscope itemtype="http://schema.org/CollectionPage">
  <div class="row">
    <div class="hyc-blacklight hyc-bl-results">
      <div class="row">
      <% @member_docs[0,4].each_with_index do |doc, i| %>
        <div class="masonry document text-center col-xs-3 col-md-3">
          <%= render 'showcase_tile',
              title: doc.title_or_label,
              index: i,
              count: @member_docs.length,
              link: [main_app, doc],
              img: render_thumbnail_tag(doc, {alt: ''}, { suppress_link: true }) %>
      <% end %>
      </div>
    </div>
  </div>

  <%= render 'lime_green_divider' do %>
    <a href="<%= view_all_url %>" class='btn btn-lg btn-primary collection-landing-button'>View All</a>
  <% end %>

  <div class="row">
    <span class="text-center"><h2 class="collection-search-header">OR, SEARCH THIS COLLECTION</h2></span>
  </div>

  <!-- Search bar -->
  <div class="hyc-blacklight hyc-bl-search hyc-body row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <%= render 'search_form', presenter: @presenter %>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <%= render 'lime_green_divider' do %>
    <button type="submit" form="collection-search" class='btn btn-lg btn-primary collection-landing-button'><i class='glyphicon glyphicon-search'></i> Search</button>
  <% end %>

  <!-- collection info

  <div class="row hyc-body">
    <div class="col-md-4 hyc-metadata">
      <% unless has_collection_search_parameters? %>
          <h2><%= t('hyrax.dashboard.collections.show.metadata_header') %></h2>
          <%= render 'show_descriptions' %>
      <% end %>
    </div>
  </div>

  -->

  <!-- Search results label
  <% if @members_count > 0 || @presenter.subcollection_count > 0 %>
    <div class="hyc-blacklight hyc-bl-title">
      <h2>
        <% if has_collection_search_parameters? %>
            <%= t('hyrax.dashboard.collections.show.search_results') %>
        <% end %>
      </h2>
    </div>
  <% end %>
  -->


  <!-- Subcollections
  <% if @presenter.collection_type_is_nestable? && @subcollection_count > 0 %>
      <div class="hyc-blacklight hyc-bl-title">
        <h4><%= t('.subcollection_count') %> (<%= @subcollection_count %>)</h4>
      </div>
      <div class="hyc-blacklight hyc-bl-results">
        <%= render 'subcollection_list', collection: @subcollection_docs %>
      </div>
  <% end %>
  -->

  <!-- Works
  <% if @members_count > 0 %>
      <div class="hyc-blacklight hyc-bl-title">
        <h4><%= t('.works_in_collection') %> (<%= @members_count %>)</h4>
      </div>

      <div class="hyc-blacklight hyc-bl-sort">
        <%= render 'sort_and_per_page', collection: @presenter %>
      </div>

      <%# OVERRIDE FROM HYRAX to add search sidebar from Blacklight %>
      <%# and swap facet and results render order %>
      <% unless @configured_facets.nil? || @configured_facets.empty? %>
      <div class="hyc-blacklight hyc-bl-facets col-md-3 col-sm-4">
        <%= render 'search_sidebar' %>
      </div>
      <% end %>



      <div class="hyc-blacklight hyc-bl-pager">
        <%= render 'paginate' %>
      </div>
  <% end # if @members_count > 0 %>
  -->
</div>
