<% provide :page_title, construct_page_title(@presenter.title) %>
<div class="hyc-container collection-show" itemscope itemtype="http://schema.org/CollectionPage">
  <div class="row hyc-header">
    <%# Title, view, and description %>
    <div class="hyc-generic">
      <div class="col-md-8">
        <div class="hyc-title">
          <h1><%= @presenter.title.first %></h1>
          <span class="lg-border-right item-count">
            <%= @presenter.total_viewable_items %>
            <%= 'Item'.pluralize(@presenter.total_viewable_items) %>
          </span>
          <span>
            <%= link_to 'View all', Rails.application.routes.url_helpers.search_catalog_path %>
          </span>
        </div>
        <div class="hyc-desc mw-lg">
          <%= render 'collection_description', presenter: @presenter %>
        </div>
      </div>
      <%# Institutional image %>
      <div class="col-md-4 text-right">
        <%= image_tag controller.institution_image_path %>
      </div>
      <%# Social media share icons %>
      <div class="col-md-12 text-right share-links">
        <div class=" lg-border-bottom">
        <%= render 'hyrax/base/social_media' %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="hyc-container" itemscope itemtype="http://schema.org/CollectionPage">
  <div class="row hyc-body">
    <div class="col-md-4 hyc-metadata">
      <% unless has_collection_search_parameters? %>
          <h2><%= t('hyrax.dashboard.collections.show.metadata_header') %></h2>
          <%= render 'show_descriptions' %>
      <% end %>
    </div>
  </div>

  <!-- Search results label -->
  <% if @members_count > 0 || @presenter.subcollection_count > 0 %>
    <div class="hyc-blacklight hyc-bl-title">
      <h2>
        <% if has_collection_search_parameters? %>
            <%= t('hyrax.dashboard.collections.show.search_results') %>
        <% end %>
      </h2>
    </div>
  <% end %>

  <!-- Search bar -->
  <div class="hyc-blacklight hyc-bl-search hyc-body row">
    <div class="col-sm-8">
      <%= render 'search_form', presenter: @presenter, url: hyrax.collection_path(@presenter.id) %>
    </div>
  </div>

  <!-- Subcollections -->
  <% if @presenter.collection_type_is_nestable? && @subcollection_count > 0 %>
      <div class="hyc-blacklight hyc-bl-title">
        <h4><%= t('.subcollection_count') %> (<%= @subcollection_count %>)</h4>
      </div>
      <div class="hyc-blacklight hyc-bl-results">
        <%= render 'subcollection_list', collection: @subcollection_docs %>
      </div>
  <% end %>

  <!-- Works -->
  <% if @members_count > 0 %>
      <div class="hyc-blacklight hyc-bl-title">
        <h4><%= t('.works_in_collection') %> (<%= @members_count %>)</h4>
      </div>

      <div class="hyc-blacklight hyc-bl-sort">
        <%= render 'sort_and_per_page', collection: @presenter %>
      </div>

      <%# OVERRIDE FROM HYRAX to add search sidebar from Blacklight %>
      <%# and swap facet and results render order %>
      <% unless @configured_facets.nil? || @configured_facets.empty? %>
      <div class="hyc-blacklight hyc-bl-facets col-md-3 col-sm-4">
        <%= render 'search_sidebar' %>
      </div>
      <% end %>

      <div class="hyc-blacklight hyc-bl-results <%= 'col-md-9 col-sm-8' unless @configured_facets.nil? || @configured_facets.empty? %>">
        <div class="">
        <% @member_docs.each do |doc| %>
          <%= render_thumbnail_tag doc, { class: "hidden-xs file_listing_thumbnail" }, { suppress_link: true } %>
        <% end %>
        <%# render 'masonry_showcase', locale: {member_docs: @member_docs} %>
      </div>

      <div class="hyc-blacklight hyc-bl-pager">
        <%= render 'paginate' %>
      </div>
  <% end # if @members_count > 0 %>
</div>
