<div id="showcase" class="row">
  <div class="col-md-5 col-md-offset-1">
    <% @collections = Collection.limit 5 %>
    <h2 class="uppercase">Featured Collections</h2>
    <% unless @collections.to_a.empty? %>
      <% @collections.each do |collection| %>
        <%@member_docs = Hyrax::SolrService.query("member_of_collection_ids_ssim:#{collection.id}", fl: 'id', rows: 10000)%>
        <% @member_works = @member_docs[0..2].each do |doc| %>
          <% ActiveFedora::Base.find(doc['id']).members.to_a.delete_if { |work| !work.class.to_s.include?('FileSet') }.first %>
        <% end %>
        <% @member_count = @member_docs.length %>
        <% @collection_solr_doc = SolrDocument.find(collection.id) %>
        <span class="featured-collection-row flex-container">
        <% @member_works[0..2].each do |work| %>
          <div class="featured-collection-item">
            <%= render_thumbnail_tag(
                SolrDocument.find(work.id),
                { class: 'img-thumbnail', alt: '' },
                'aria-hidden': true
              ) %>
          </div>
        <% end %>
        <div class="featured-collection-item">
          <h3 class='collection-title'><%= collection.title.first %></h3>
          <div class='collection-items'>
            <span class='home-item-count'><%= @member_count %> items</span>
            &nbsp;
            <%= link_to_document SolrDocument.find(@collection_solr_doc.id), "View all", aria: {label: "View All #{collection.title.first}"}, class: 'lato-b' %>
          </div>
        </div>
        </span>
      <% end %>
    <% end %>
    <div class="flex-container feature-collection-divider hidden-xs hidden-sm">
      <div class="featured-collection-border"></div>
      <%= link_to 'View All Collections', Rails.application.routes.url_helpers.all_explore_collections_path, class: 'btn btn-primary btn-lg all-collections-homepage' %>
      <div class="featured-collection-border"></div>
    </div>
  </div>
  <div class="visible-sm visible-xs center-text">
    <%= link_to 'View All Collections', Rails.application.routes.url_helpers.all_explore_collections_path, class: 'btn btn-primary btn-lg all-collections-homepage' %>
    <div class="featured-collection-border"></div>
  </div>
  <div class="col-xs-12 col-md-5 col-md-offset-1 about-oregondigital-container">
    <h2 class="uppercase">About Oregon Digital</h2>
    <div class="row">
      <%= image_tag('valley_lib.png', height: '250', alt: '', class: 'col-xs-12 col-md-6') %>
      <%= image_tag('uo_lib.jpg', height: '250', alt: '', class: 'col-xs-12 col-md-6') %>
    </div>
    <p class='mw-lg about-oregondigital-text'>
      A collaboration between the University of Oregon Libraries and Oregon State University Libraries & Press,
      Oregon Digital comprises more than 500,000 digitized works including historic and modern photographs,
      manuscripts, and publications.
    </p>
  </div>
</div>
