<div id="showcase" class="row">
  <div class="col-md-5 col-md-offset-1">
    <h2 class="uppercase">Featured Collections</h2>
    <% unless @presenter.collections.to_a.empty? %>
      <% @presenter.collections.each do |collection| %>
        <% solr_hits = Hyrax::SolrService.query("member_of_collection_ids_ssim:#{collection.id} AND file_set_ids_ssim:[* TO *]", rows: 3) %>
        <% @member_docs = SolrDocument.find(solr_hits.map(&:id)) %>
        <% @member_count = Hyrax::SolrService.new.count("member_of_collection_ids_ssim:#{collection.id}") %>
        <span class="featured-collection-row flex-container">
        <% @members_filled = @member_docs.fill(nil, @member_docs.length..2)[0..2].reverse %>
        <% @members_filled.each do |work| %>
          <% if work == nil %>
            <div class="featured-collection-item">
              <%= image_tag(
                'logo.png',
                { class: 'img-thumbnail', alt: '' }
              ) %>
            </div>
          <% else %>
            <div class="featured-collection-item">
              <%= render_thumbnail_tag(
                  work,
                  { class: 'img-thumbnail', alt: work.title_or_label }
                ) %>
            </div>
          <% end %>
        <% end %>
        <div class="featured-collection-item">
          <h3 class='collection-title'><%= link_to_document collection, "#{collection.title.first}", aria: {label: "#{collection.title.first}"}, class: 'lato-b' %></h3>
          <div class='collection-items'>
            <span class='home-item-count'><%= @member_count %> items</span>
            &nbsp;
            <%= link_to_document collection, "View all", aria: {label: "View All #{collection.title.first}"}, class: 'lato-p' %>
          </div>
        </div>
        </span>
      <% end %>
    <% end %>
    <div class="flex-container feature-collection-divider hidden-xs hidden-sm">
      <div class="featured-collection-border"></div>
      <%= link_to 'View All Collections', Rails.application.routes.url_helpers.all_collections_path, class: 'btn btn-primary btn-lg all-collections-homepage' %>
      <div class="featured-collection-border"></div>
    </div>
  </div>
  <div class="visible-sm visible-xs center-text">
    <%= link_to 'View All Collections', Rails.application.routes.url_helpers.all_collections_path, class: 'btn btn-primary btn-lg all-collections-homepage' %>
    <div class="featured-collection-border"></div>
  </div>
  <div class="col-xs-12 col-md-5 col-md-offset-1 about-oregondigital-container">
    <h2 class="uppercase">About Oregon Digital</h2>
    <div class="row">
      <%= image_tag('valley_lib.webp', alt: '', class: 'col-xs-12 col-sm-6') %>
      <%= image_tag('uo_lib.jpg', alt: '', class: 'col-xs-12 col-sm-6') %>
    </div>
    <p class='mw-lg about-oregondigital-text'>
      A collaboration between the University of Oregon Libraries and Oregon State University Libraries & Press,
      Oregon Digital comprises more than 500,000 digitized works including historic and modern photographs,
      manuscripts, and publications.
    </p>
    <p>
      <%= link_to "Read More", main_app.about_path, method: :get, class: "lato-b" %>
    </p>
    <br>
    <p>
      <div class="first-time-here left-shadow-drop">
        <p><b> First time here? </b></p>
        <p><%= image_tag('link-img-icon.jpg', {height: 20, width: 20, alt: '', class: "chevron-align"}) %><%= link_to "How to Use This Website", main_app.use_path, method: :get, class: "lato-b" %></p>
      </div>
    </p>
    <br>
    <p>
      <div class="dig-deeper left-shadow-drop">
        <p><b> Dig deeper </b></p>
        <p><%= image_tag('link-img-icon.jpg', {height: 20, width: 20, alt: '', class: "chevron-align"}) %><%= link_to "Copyright and Usage Request", main_app.copyright_path, method: :get, class: "lato-b" %></p>
        <p><%= image_tag('link-img-icon.jpg', {height: 20, width: 20, alt: '', class: "chevron-align"}) %><%= link_to "Harmful Content Statement", main_app.harmful_path, method: :get, class: "lato-b" %></p>
      </div>
    </p>
  </div>
</div>
