<div id="showcase" class="row">
  <div class="col-lg-5 offset-lg-1">
    <h2 class="uppercase">Featured Collections</h2>
    <% unless @presenter.collections.to_a.empty? %>
      <% @presenter.collections.each do |collection| %>
        <% solr_hits = Hyrax::SolrService.query("member_of_collection_ids_ssim:#{collection.id} AND file_set_ids_ssim:* AND -thumbnail_path_ss:*png", fl: 'id,title_sim,thumbnail_path_ss,has_model_ssim', rows: 3) %>
        <% @member_count = Hyrax::SolrService.new.count("member_of_collection_ids_ssim:#{collection.id}") %>
        <span class="featured-collection-row flex-container">
          <%# MOVE: Move the title to the upper level to be read by screen reader first %>
          <div class="featured-collection-item featured-collection-title">
            <h3 class='collection-title'><%= link_to collection.title.first, collection, aria: {label: "#{collection.title.first}"}, class: 'lato-b' %></h3>
            <div class='collection-items'>
              <span class='home-item-count'><%= @member_count %> items</span>
              &nbsp;
              <%= link_to "View all", collection, aria: {label: "View All #{collection.title.first}"}, class: 'lato-p' %>
            </div>
          </div>

          <%# MOVE: Move the thumbnail display down so it get read later %>
          <% solr_hits.each do |sh| %>
            <% if sh == nil %>
              <div class="featured-collection-item">
                <%= image_tag(
                  'logo.png',
                  { class: 'img-thumbnail', alt: '' }
                ) %>
              </div>
            <% else %>
              <div class="featured-collection-item">
                <%= link_to "/concern/#{sh['has_model_ssim'].first.downcase.pluralize}/#{(sh['id'])}" do %>
                  <%= image_tag(
                  sh['thumbnail_path_ss'],
                    { class: 'img-thumbnail', alt: sh['title_sim'] }
                    ) %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </span>
      <% end %>
    <% end %>
    <div class="flex-container feature-collection-divider d-none d-lg-flex">
      <div class="featured-collection-border"></div>
      <%= link_to 'View All Collections', Rails.application.routes.url_helpers.all_collections_path, class: 'btn btn-primary btn-lg all-collections-homepage' %>
      <div class="featured-collection-border"></div>
    </div>
    <div class="d-lg-none d-block center-text">
      <%= link_to 'View All Collections', Rails.application.routes.url_helpers.all_collections_path, class: 'btn btn-primary btn-lg all-collections-homepage' %>
      <div class="featured-collection-border"></div>
    </div>
  </div>
  <div class="col-12 col-lg-5 offset-lg-1 about-oregondigital-container">
    <h2 class="uppercase">About Oregon Digital</h2>
    <div class="row">
      <%= image_tag('valley_lib.webp', alt: '', class: 'col-12 col-md-6') %>
      <%= image_tag('uo_lib.jpg', alt: '', class: 'col-12 col-md-6') %>
    </div>
    <p class='mw-lg about-oregondigital-text'>
      A collaboration between the University of Oregon Libraries and Oregon State University Libraries & Press,
      Oregon Digital comprises more than 500,000 digitized works including historic and modern photographs,
      manuscripts, and publications.
    </p>
    <p>
      <%= link_to "Read More", main_app.about_path, method: :get, class: "lato-b" %>
    </p>
    <br>
    <p>
      <div class="first-time-here left-shadow-drop">
        <p><b> First time here? </b></p>
        <p><%= image_tag('link-img-icon.jpg', {height: 20, width: 20, alt: '', class: "chevron-align"}) %><%= link_to "How to Use This Website", main_app.use_path, method: :get, class: "lato-b" %></p>
      </div>
    </p>
    <br>
    <p>
      <div class="dig-deeper left-shadow-drop">
        <p><b> Dig deeper </b></p>
        <p><%= image_tag('link-img-icon.jpg', {height: 20, width: 20, alt: '', class: "chevron-align"}) %><%= link_to "Copyright and Usage Request", main_app.copyright_path, method: :get, class: "lato-b" %></p>
        <p><%= image_tag('link-img-icon.jpg', {height: 20, width: 20, alt: '', class: "chevron-align"}) %><%= link_to "Harmful Content Statement", main_app.harmful_path, method: :get, class: "lato-b" %></p>
      </div>
    </p>
  </div>
</div>
