<a href="<%= Hyrax::Engine.routes.url_helpers.help_path %>">
  <div class="col-xs-4 col-sm-2 col-sm-offset-2 homepage-box">
    <div class="row">
      <img class="fit-to-box" src="<%= image_url('students.png') %>" alt=''>
    </div>
    <div class="row">
      <h3><%= t('howto.students.title') %></h3>
    </div>
    <%= t('howto.students.description') %>
  </div>
</a>
<a href="<%= Hyrax::Engine.routes.url_helpers.help_path %>">
  <div class="col-xs-4 col-sm-2 homepage-box">
    <div class="row">
      <img class="fit-to-box" src="<%= image_url('teachers.png') %>" alt=''>
    </div>
    <div class="row">
      <h3><%= t('howto.teachers.title') %></h3>
    </div>
    <%= t('howto.teachers.description') %>
  </div>
</a>
<a href="<%= Hyrax::Engine.routes.url_helpers.help_path %>">
  <div class="col-xs-4 col-sm-2 homepage-box">
    <div class="row">
      <img class="fit-to-box shrink-picture" src="<%= image_url('researchers.png') %>" alt=''>
    </div>
    <div class="row">
      <h3><%= t('howto.researchers.title') %></h3>
    </div>
    <%= t('howto.researchers.description') %>
  </div>
</a>
<a href="<%= Hyrax::Engine.routes.url_helpers.help_path %>">
  <div class="col-xs-4 col-sm-2 homepage-box">
    <div class="row">
      <img class="fit-to-box" src="<%= image_url('lifetime.png') %>" alt=''>
    </div>
    <div class="row">
      <h3><%= t('howto.lifelong.title') %></h3>
    </div>
    <%= t('howto.lifelong.description') %>
  </div>
</a>