<%# OVERRIDE FROM HYRAX to restructure add to collection modal #%>
<div role="dialog" class="modal fade" id="user-login-modal" tabindex="-1" aria-labelledby="col_add_title" data-backdrop="false">
  <div class="modal-dialog text-left">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <span class="modal-title" id="col_add_title">LOGIN TO YOUR ACCOUNT</span>
        </div>
        <div class="modal-body login-modal">
          <div class="row">
            <ul>
              <li class="osu-login">
                <div class="col-md-4">
                  <input type="radio" name="login-select" onclick="toggleFooter('OSU-footer')"> <%= image_tag('osu_logo.png', height: '50', width: '50', alt: '') %>OSU
                </div>
              </li>
              <li class="uo-login">
                <div class="col-md-4">
                  <input type="radio" name="login-select" onclick="toggleFooter('UO-footer')"> <%= image_tag('uo.png', height: '50', width: '50', alt: '') %>UO
                </div>
              </li>
              <li>
                <div class="col-md-4">
                  <input type="radio" name="login-select" onclick="toggleFooter('local-footer')">Other Affiliation
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div id="login-modal-footer-OSU-footer" class="modal-footer login-modal-footer-border text-center" style='display: none;'>
          <div class='row'>
            <%= button_to main_app.new_osu_session_path, method: :post, class: 'btn btn-primary' do %>
              <span class="university-login">CONTINUE TO LOG IN</span>
            <% end %>
          </div>
          <div class='row'>
            Questions about logging in? Contact us.
          </div>
        </div>
        <div id="login-modal-footer-UO-footer" class="modal-footer login-modal-footer-border text-center" style='display: none;'>
          <div class='row'>
            <%= button_to main_app.new_uo_session_path, method: :post, class: 'btn btn-primary' do %>
              <span class="university-login">CONTINUE TO LOG IN</span>
            <% end %>
          </div>
          <div class='row'>
            Questions about logging in? Contact us.
          </div>
        </div>
        <div id="login-modal-footer-local-footer" class="modal-footer login-modal-footer-border text-center" style='display: none;'>
          <div class='row'>
            <%= button_to main_app.new_user_session_path, class: 'btn btn-primary' do %>
              <span class="university-login">CONTINUE TO LOG IN</span>
            <% end %>
          </div>
          <div class='row'>
            Questions about logging in? Contact us.
          </div>
        </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
