<%# OVERRIDE FROM HYRAX to restructure add to collection modal #%>
<div id="user-login-modal" class="modal fade">
  <div class="modal-dialog text-left">
      <div class="modal-content" role="dialog" aria-modal="true" aria-labelledby="login_account_title">
        <div class="modal-header">
          <span class="modal-title" id="login_account_title">LOGIN TO YOUR ACCOUNT</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">&times;</button>
        </div>
        <div class="modal-body login-modal">
          <div class="row">
            <ul>
              <li class="osu-login">
                <div class="col-md-4">
                  <label>
                    <input type="radio" name="login-select" checked="checked" onclick="toggleFooter('OSU-footer')">
                    <%= image_tag('osu_logo.png', height: '50', width: '50', alt: 'Oregon State University Login') %>OSU
                  </label>
                </div>
              </li>
              <li class="uo-login">
                <div class="col-md-4">
                  <label>
                    <input type="radio" name="login-select" onclick="toggleFooter('UO-footer')">
                    <%= image_tag('uo.png', height: '50', width: '50', alt: 'University of Oregon Login') %>UO
                  </label>
                </div>
              </li>
              <li>
                <div class="col-md-4">
                    <div class="col-md-1">
                      <input id="other-login" type="radio" name="login-select" onclick="toggleFooter('local-footer')">
                    </div>
                    <div class="col-md-9">
                      <label for="other-login">
                        Other Affiliation
                      </label>
                    </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div id="login-modal-footer-OSU-footer" class="modal-footer login-modal-footer-border text-center" style='display: none;'>
          <div class='row'>
            <%= button_to main_app.new_osu_session_path, method: :post, class: 'btn btn-primary' do %>
              <span class="university-login">CONTINUE TO OSU LOG IN</span>
            <% end %>
          </div>
          <div class='row'>
            Questions about logging in? Contact us.
          </div>
        </div>
        <div id="login-modal-footer-UO-footer" class="modal-footer login-modal-footer-border text-center" style='display: none;'>
          <div class='row'>
            <%= button_to main_app.new_uo_session_path, method: :post, class: 'btn btn-primary' do %>
              <span class="university-login">CONTINUE TO UO LOG IN</span>
            <% end %>
          </div>
          <div class='row'>
            Questions about logging in? Contact us.
          </div>
        </div>
        <div id="login-modal-footer-local-footer" class="modal-footer login-modal-footer-border text-center" style='display: none;'>
          <div class='row'>
            <%= button_to main_app.new_user_session_path, method: :post, class: 'btn btn-primary' do %>
              <span class="university-login">CONTINUE TO LOG IN</span>
            <% end %>
          </div>
          <div class='row'>
            Questions about logging in? Contact us.
          </div>
        </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
