<div class="homepage-box">
  <%= link_to(link) do %>
    <% if local_assigns[:img] %>
      <%= img %>
    <% elsif local_assigns[:img_url] %>
      <img class="fit-to-box" src="<%= img_url %>" alt="">
    <% end %>
    <h3> <%= title %> </h3>
  <%end%>
  <p><%= content unless content.empty? %></p>
</div>
