<% menu = Hyrax::MenuPresenter.new(self) %>
<nav aria-label="sidebar navigation links">
  <button class="sidebar-toggle" aria-label="Collapse Sidebar" style="border: none; padding: 0px;"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
  <ul class="nav nav-pills nav-stacked">
    <li>
      <div class="profile">
        <div class="profile-image">
          <%= image_tag current_user.avatar.url(:thumb), width: 100 if current_user.avatar.present? %>
        </div>
        <div class="profile-data">
          <div class="profile-data-name"><h2 class="h3 lato-p white"><%= current_user.name %></h2></div>
        </div>
      </div>
    </li>

    <%= render 'hyrax/dashboard/sidebar/activity', menu: menu %>
    <%= render 'hyrax/dashboard/sidebar/repository_content', menu: menu %>
    <%= render 'hyrax/dashboard/sidebar/tasks', menu: menu %>
    <%= render 'hyrax/dashboard/sidebar/configuration', menu: menu %>
  </ul>
</nav>