<% provide :page_header do %>
  <h1><%= t("hyrax.dashboard.title") %></h1>
<% end %>

<div class="spaced-rows">
  <div class="row">
    <div class="col">
      <%= render 'repository_growth' %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <%= render 'visibility_graph' %>
    </div>
    <div class="col-lg-4">
      <%= render 'work_type_graph' %>
    </div>
    <div class="col-lg-4">
      <%= render "resource_type_graph" %>
    </div>
  </div>
</div>

<div class="clearfix mt-5">
  <%= render 'tabs' %>
</div>