<%# alternate version of facets on form that renders using multi-select.
    Has to copy and paste more code from blacklight than default, making
    it somewhat more fragile.

    Logic taken from facets_helper_behavior.rb, #render_facet_partials and
    #render_facet_limit.
%>

<% facets_from_request(facet_field_names).each do |display_facet| %>
    <% if should_render_facet?(display_facet) %>
        <div class="form-group advanced-search-facet">
            <%= label_tag display_facet.name.parameterize, :class => "col-sm-3 control-label" do %>
                <%= facet_field_label(display_facet.name) %>
            <% end %>

            <div class="col-sm-9">
                <%= content_tag(:select, :multiple => true,
                    :name   => "f_inclusive[#{display_facet.name}][]",
                    :id     => display_facet.name.parameterize,
                    :class  => "form-control advanced-search-facet-select") do %>
                    <% display_facet.items.each do |facet_item| %>
                        <%# OVERRIDE blacklight_advanced_search to suport facet value helper methods %>
                        <%# If a helper_method exists in the base blacklight config for the advanced facet field name, send the helper_method. Otherwise use the existing value %>
                        <% facet_item_label = !blacklight_config.facet_fields[display_facet.name].helper_method.nil? ? send(blacklight_config.facet_fields[display_facet.name].helper_method, facet_item.label) : facet_item.label %>
                        <%# END OVERRIDE %>
                        <%= content_tag :option, :value => facet_item.value, :selected => facet_value_checked?(display_facet.name, facet_item.value) do %>
                            <%= facet_item_label %>&nbsp;&nbsp;(<%= number_with_delimiter facet_item.hits %>)
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
<% end %>