<%# alternate version of facets on form that renders using multi-select.
    Has to copy and paste more code from blacklight than default, making
    it somewhat more fragile.

    Logic taken from facets_helper_behavior.rb, #render_facet_partials and
    #render_facet_limit.
%>

<%# SPLIT: Going through facet field name & split them up into two arrays & sort alphabetically %>
<% @main_facets = %w[copyright_combined_label_sim topic_combined_label_sim creator_combined_label_sim date_combined_year_label_ssim location_combined_label_sim workType_label_sim resource_type_label_sim file_format_sim language_label_sim non_user_collections_label_ssim institution_label_sim] %>
<% @secondary_facets = (facet_field_names - @main_facets).sort_by { |field| facet_field_label(field)} %>

<% facets_from_request(@main_facets).each do |display_facet| %>
  <div style="margin-left: 15px; margin-right: 15px;" aria-labelledby="<%= display_facet.name.parameterize %>-header" role="group" class="panel facet_limit blacklight-<%= display_facet.name %> <%= 'facet_limit-active' %>">
    <div class="collapse-toggle panel-heading">
      <h4 class="panel-header p-0 facet-field-heading" id="<%= display_facet.name.parameterize %>-header">
        <button
          type="button"
          class="btn btn-block panel-title collapse-toggle <%= "collapsed" if true %>"
          data-toggle="collapse"
          data-target="#<%= display_facet.name.parameterize %>"
          aria-expanded="<%= 'true' %>"
          aria-controls="<%= display_facet.name.parameterize %>"
        >
          <%= facet_field_label(display_facet.name) %>
        </button>
      </h4>
    </div>
    <div id="<%= display_facet.name.parameterize %>" class="panel-collapse facet-content collapse <%= "in" unless true %>" aria-expanded="<%= 'true' %>">
      <div class="panel-body">
        <div class="advanced_search_facet"
          <% unless display_facet.name == 'date_combined_year_label_ssim' %>
            <div class="col-sm-12">
              <%= content_tag(:select, :multiple => true,
                  :name   => "f[#{display_facet.name}][]",
                  'data-placeholder' => 'Start typing or choose from list',
                  :id     => display_facet.name.parameterize,
                  :class  => "form-control advanced-search-facet-select") do %>
                  <% display_facet.items.sort_by { |facet_item| facet_display_value(display_facet.name, facet_item) }.each do |facet_item| %>
                    <% facet_item_label = facet_display_value(display_facet.name, facet_item) %>
                    <%= content_tag :option, :value => facet_item.value, :selected => facet_value_checked?(display_facet.name, facet_item.value) do %>
                      <%= facet_item_label %>&nbsp;&nbsp;(<%= number_with_delimiter facet_item.hits %>)
                    <% end %>
                  <% end %>
              <% end %>
            </div>
          <% else %>
            <div class="col-xs-5 v-center">
              <%= content_tag(:input, nil,
                  :name   => "range[#{display_facet.name}][begin]",
                  :type   => "number",
                  :id     => display_facet.name.parameterize) %>
            </div>
            <div class="col-xs-2 v-center" style="text-align:center"> to </div>
            <div class="col-xs-5 v-center">
              <%= content_tag(:input, nil,
                  :name   => "range[#{display_facet.name}][end]",
                  :type   => "number",
                  :id     => display_facet.name.parameterize,
                  :class  => "form-control") %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% "Artifical DIV here for missing layout weirdness. Fixes Panel Problems. Layout somewhere has a mismatched div" %>
<% end %>

<%# ADD: Utilize a button to hide other searches in advanced search %>
<div class="advanced-search-more-facet">
  <div class="col-sm-12">
    <button type="button" class="btn btn-default btn-block secondary-advanced-facets" data-toggle="collapse" aria-haspopup="true" aria-expanded="false" href="#dropdown-advanced-secondary-facets" data-more-text="<%= t('blacklight.facets.more_option') %>" data-less-text="<%= t('blacklight.facets.less_option') %>">
      <%= t('blacklight.facets.more_option') %>
    </button>
  </div>
</div>

<%# SECONDARY: Load the other options filter %>
<div id="dropdown-advanced-secondary-facets" class="collapse panel-group">
  <% facets_from_request(@secondary_facets).each do |display_facet| %>
    <div style="margin-left: 15px; margin-right: 15px;" aria-labelledby="<%= display_facet.name.parameterize %>-header" role="group" class="panel facet_limit blacklight-<%= display_facet.name %> <%= 'facet_limit-active' %>">
      <div class="collapse-toggle panel-heading">
        <h4 class="panel-header p-0 facet-field-heading" id="<%= display_facet.name.parameterize %>-header">
          <button
            type="button"
            class="btn btn-block panel-title collapse-toggle <%= "collapsed" if true %>"
            data-toggle="collapse"
            data-target="#<%= display_facet.name.parameterize %>"
            aria-expanded="<%= 'true' %>"
            aria-controls="<%= display_facet.name.parameterize %>"
          >
            <%= facet_field_label(display_facet.name) %>
          </button>
        </h4>
     </div>
      <div id="<%= display_facet.name.parameterize %>" class="panel-collapse facet-content collapse <%= "in" unless true %>" aria-expanded="<%= 'true' %>">
        <div class="panel-body">
          <div class="advanced_search_facet"
            <% unless display_facet.name == 'date_combined_year_label_ssim' %>
              <div class="col-sm-12">
                <%= content_tag(:select, :multiple => true,
                    :name   => "f[#{display_facet.name}][]",
                    'data-placeholder' => 'Start typing or choose from list',
                    :id     => display_facet.name.parameterize,
                    :class  => "form-control advanced-search-facet-select") do %>
                    <% display_facet.items.sort_by { |facet_item| facet_display_value(display_facet.name, facet_item) }.each do |facet_item| %>
                      <% facet_item_label = facet_display_value(display_facet.name, facet_item) %>
                      <%= content_tag :option, :value => facet_item.value, :selected => facet_value_checked?(display_facet.name, facet_item.value) do %>
                        <%= facet_item_label %>&nbsp;&nbsp;(<%= number_with_delimiter facet_item.hits %>)
                      <% end %>
                    <% end %>
                <% end %>
              </div>
            <% else %>
              <div class="col-xs-5 v-center">
                <%= content_tag(:input, nil,
                    :name   => "range[#{display_facet.name}][begin]",
                    :type   => "number",
                    :id     => display_facet.name.parameterize) %>
              </div>
              <div class="col-xs-2 v-center" style="text-align:center"> to </div>
              <div class="col-xs-5 v-center">
                <%= content_tag(:input, nil,
                    :name   => "range[#{display_facet.name}][end]",
                    :type   => "number",
                    :id     => display_facet.name.parameterize,
                    :class  => "form-control") %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
