<% @page_title = "Advanced Search - #{application_name}" %>

<div class="advanced-search-form col-sm-12">

    <h1 class="advanced uppercase text-center">
        Search Oregon Digital
    </h1>

<%= form_tag search_catalog_path, :class => 'advanced form-horizontal', :method => :get, :role => :search, :id => 'advanced-form' do  %>
    <div class="row advanced-search-inputs">
        <div class="col-md-8">
            <%= render 'advanced_search_form' %>
            <%= render 'advanced_search_help' %>
        </div>
        <div class="col-md-4">
            <%= render 'advanced_search_sidebar' %>
        </div>
    </div>
    <% end %>

    <%= render 'shared/colored_divider', color: 'lime-green' do %>
        <%= button_tag :class=>'btn btn-primary btn-lg advanced-search-submit', :id => "advanced-search-submit", :form => 'advanced-form' do %>
            <i class="fa fa-search" aria-hidden="true"></i>
            <%= t('blacklight_advanced_search.form.search_btn') %>
        <% end %>
    <% end %>

</div>