<div class="devise-container">
  <h1 class="h2 text-center" style="margin-bottom:2em">LOOKING TO SIGN UP FOR AN<br>OREGON DIGITAL ACCOUNT?</h1>
  <%- if controller_name != 'sessions' %>
    <div class="text-center" style="margin-bottom:2em">Already have an account? <%= link_to "Log in", new_session_path(resource_name) %><br /></div>
  <% end -%>

  <h2 class="h4 text-center" style="margin-bottom:2em">I AM AFFILIATED WITH UO OR OSU<a id="affiliated" data-toggle="tooltip" data-placement="top" title="By signing up or signing in, you will have the ability to select, organize and share Oregon Digital materials with others." onclick="$('#affiliated').tooltip('show')" class="glyphicon glyphicon-question-sign"></a></h2>

    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-4 col-xs-12 login-radio">
        <label>
          <%= link_to main_app.new_osu_session_path, method: :post do %>
            <%= image_tag('osu_logo.png', height: '50', width: '50', alt: 'Oregon State University Login') %>OSU
          <% end %>
        </label>
      </div>
      <div class="col-sm-4 col-xs-12 login-radio">
        <label>
          <%= link_to main_app.new_uo_session_path, method: :post do %>
            <%= image_tag('uo.png', height: '50', width: '50', alt: 'University of Oregon Login') %>UO
          <% end %>
        </label>
      </div>
      <div class="col-sm-2"></div>
    </div>
  <div class="lime-green-hr" style="margin-bottom:1em"></div>
  <%= render "devise/shared/error_messages", resource: resource %>
  <br>
  <h2 class="h4 text-center" style="margin-bottom:2em">I AM NOT AFFILIATED WITH UO OR OSU<a id="not-affiliated" data-toggle="tooltip" data-placement="top" title="By signing up or signing in, you will have the ability to select, organize and share Oregon Digital materials with others." onclick="$('#not-affiliated').tooltip('show')" class="glyphicon glyphicon-question-sign"></a></h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="flex-container sign-up-form devise-form">
      <div class="field flex-item">
        <div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          <br />
          <%= f.label :email %>
        </div>
      </div>

      <div class="field flex-item password-field">
        <div>
          <%= f.password_field :password, autocomplete: "new-password" %>
          <br />
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <br />
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
      </div>

      <div class="field flex-item">
        <div>
          <%= f.password_field :confirm_password, autocomplete: "new-password" %>
          <br />
          <%= f.label :confirm_password %>
        </div>
      </div>

      <div class="actions flex-item">
        <div><%= f.submit "Sign up", class: "btn btn-primary" %></div>
      </div>
    </div>
  <% end %>
  <div class="text-center"><%= link_to "Forgot password?", new_password_path(resource_name) %></div><br>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <div class="text-center"><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></div><br>
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <div class="text-center"><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %></div><br>
  <% end -%>

  <div class="text-center"><%= link_to "Privacy Policy", privacy_path %></div>
</div>