<ul class="text-center center-auth-links lato-p" style="list-style-type:none;padding-left:0;">
  <%- if controller_name != 'sessions' %>
    <li>Already have an account? <%= link_to "Log in", new_session_path(resource_name) %><br /></li>
  <% end -%>
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <li>New user? <%= link_to "Create an account", new_registration_path(resource_name) %><br /></li>
  <% end -%>

  <%- if devise_mapping.omniauthable? && controller_name == 'registrations' %>
    <li>
      Already a part of OSU/UO? <br />
      <%- resource_class.omniauth_providers.each do |provider| %>
        <!-- OVERRIDE HERE TO CHANGE LABELS -->
        <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider).to_s == 'CAS' ? 'Oregon State University' : 'University of Oregon' }", omniauth_authorize_path(resource_name, provider), method: :post %><br />
      <% end -%>
    </li>
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <li><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br /></li>
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <li><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br /></li>
  <% end -%>

  <li><%= link_to "Privacy Policy", privacy_path %><br /></li>
</ul>