<table class="oembeds table">
  <thead>
    <tr>
      <%= render partial: 'table_headers' %>
    </tr>
  </thead>
  <tbody>
  <% assets_with_oembed.each do |curation_concern| %>
    <tr>
      <td class="human-readable-type"><%= curation_concern.human_readable_type %></td>
      <td class="title"><%= link_to curation_concern, edit_oembed_path(curation_concern)  %></td>
      <td class="oembed_link"><%= link_to curation_concern.oembed_url.first, curation_concern.oembed_url.first %></td>
      <td class="oembed_status"><%= content_tag(:span, "Good", class: "label label-success") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
