<table class="oembeds table">
  <thead>
    <tr>
      <%= render partial: 'table_headers' %>
    </tr>
  </thead>
  <tbody>
  <% works.each do |curation_concern| %>
    <% errors = @errors.find_by(document_id: curation_concern.id) %>
    <tr>
      <td class="human-readable-type"><%= curation_concern.human_readable_type %></td>
      <td class="title"><%= link_to curation_concern, edit_oembed_path(curation_concern)  %></td>
      <td class="oembed_link"><%= link_to curation_concern.oembed_url.first, curation_concern.oembed_url.first %></td>
      <td class="oembed_status">
        <%= errors.nil? ? content_tag(:span, "Good", class: "label label-success") : content_tag(:span, "Error", class: "label label-danger") %>
        <%= render 'oembed_list_errors', errors: errors if show_error_list && !errors.nil? %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
