<% provide :page_title, construct_page_title(t('.manage_oembeds')) %>

<% provide :page_header do %>
  <h1><span class="fa fa-sitemap"></span><%= t('.manage_oembeds') %></h1>
<% end %>

<div class="panel panel-default tabs">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#all" data-toggle="tab"><%= t('.all') %></a></li>
    <li><a href="#errors" data-toggle="tab"><%= t('.errors') %></a></li>
  </ul>
  <div class="panel-body">
    <div class="tab-content">
      <div class="tab-pane active" id="all">
        <%= render "table", file_sets: assets_with_oembed, show_error_list: false %>
      </div>
      <div class="tab-pane" id="errors">
        <%= render "table", file_sets: assets_with_errored_oembed, show_error_list: true %>
      </div>
    </div>
  </div>
</div>
