<h2 class="about-main"> ABOUT OREGON DIGITAL </h2>

<p>
  Oregon Digital is a shared digital asset management system jointly developed and maintained by the Oregon State University Libraries and Press and the University of Oregon Libraries to support the teaching and research needs of our communities. Our collaboration is based on the belief that no one institution can hope to solve all of their digital content management needs on their own, and by utilizing shared governance, infrastructure, and staffing resources we gain a level of ownership and flexibility that would be difficult to obtain through proprietary systems.
</p>

<h3> Project History </h3>

<p>
  The OSU and UO Libraries have a longstanding and successful partnership to provide access to unique digitized and born digital materials, starting in 2009 with a collaborative instance of CONTENTdm. In 2012, when it was time to migrate to an updated digital asset management system, the Samvera platform (then known as Hydra) was chosen, based on our requirements:
</p>

<ul>
  <li> An open source solution </li>
  <li> A better user experience interacting with our content </li>
  <li> Improved metadata tools, including RDF and linked data </li>
  <li> System flexibility and scalability </li>
</ul>

<p>
  The new Hydra-based Oregon Digital went live in August of 2014. In 2019 work began on a second generation of Oregon Digital on Samvera (Hyrax), which launched in Fall of 2022.
</p>

<h3> Samvera Community Partnership </h3>

<p>
  Oregon Digital is a Samvera project and has participated in and benefited from community-contributed software developed by and for libraries, archives and other cultural heritage organizations. Both OSU and UO have committed time and personnel toward software development, participated in various working groups, and funded development of new features.
</p>

Oregon Digital is based on Hyrax, a Ruby on Rails engine designed to build digital repository applications. Oregon Digital is further enhanced by the Project Blacklight community and their suite of projects. All code is publicly available on GitHub:

<ul>
  <li> <%= link_to 'Oregon Digital Application', 'https://github.com/OregonDigital/OD2', target:'_blank' %> </li>
  <li> <%= link_to 'Oregon Digital Team Wiki', 'https://github.com/OregonDigital/OD2/wiki', taget:'_blank' %> </li>
  <li> <%= link_to 'Oregon Digital Migrator', 'https://github.com/OregonDigital/OD2-migration', taget:'_blank' %> </li>
</ul>

<p>
  Notch8 provided support for analytics (paid for by an IMLS grant) and bulk operations.
</p>

<ul>
  <li> <%= link_to 'Bulkrax', 'https://github.com/samvera-labs/bulkrax', taget:'_blank'%> </li>
  <li> <%= link_to 'Analytics', 'https://github.com/notch8/irus_analytics', taget:'_blank' %> </li>
</ul>

<h3> Metadata </h3>

<p>
  Oregon Digital utilizes linked open data principles for descriptive metadata. We believe in data that is reusable, shareable, machine readable, and not constrained by specific schema. This foundation allows for both consistency and flexibility in description across institutions, partners, and resources.
</p>

<ul>
  <li> <%= link_to 'Metadata Application Profile', 'https://docs.google.com/spreadsheets/d/1U_gXyxAJnvIYAaJjzJWvyxW1pIaTtnjEhZOOrdGms3Y#gid=0', taget:'_blank' %> </li>
  <li> <%= link_to 'Locally Hosted Terms and URIs', 'https://opaquenamespace.org/', target:'_blank' %> </li>
  <li> Copyright Statements </li>
  <li> <%= link_to 'Controlled Vocabularies', 'https://docs.google.com/spreadsheets/d/1U_gXyxAJnvIYAaJjzJWvyxW1pIaTtnjEhZOOrdGms3Y#gid=1387534145', target:'_blank' %> </li>
  <li> <%= link_to 'Vocabularies', 'https://docs.google.com/spreadsheets/d/1U_gXyxAJnvIYAaJjzJWvyxW1pIaTtnjEhZOOrdGms3Y#gid=2077540829', target:'_blank' %> </li>
</ul>
