<h2>Copyright and Usage Requests</h2>

<p> Oregon Digital is home to hundreds of thousands of items that are governed by varying ownership and licensing requirements. Unsurprisingly, one of the most common questions asked of archivists by people conducting research using Oregon Digital is - “Can I use It?”. This Getting Started guide introduces you to tools built into Oregon Digital that you can use to identify an item’s copyright status and better understand the ways in which you can use the item. </p>

<h3> What is copyright and licensing? How do they relate to items in Oregon Digital? </h3>

<h4> Copyright & Licensing - What are they? </h4>

<p> When we use the word “copyright,” we refer to the constellation of rights associated with the intellectual ownership of an item. An entity that controls copyright for creative works - literature, photographs, songs, movies, or software, for example - controls the ways and extents to which those works can be shared and reused. </p>
<p>A license is an agreement that defines the ways in which a copyright holder has granted permission for sharing or reuse of a creative work. When you as a user ask the question “Can I use it?”, what you are really asking is… “Does the item’s owner give me permission to use the creative work in the way I would like to?” The answer to that question can often be discerned by reviewing the license that is associated with the particular work in question. </p>

<h4> What do I need to know about copyright and licensing of items in Oregon Digital? </h4>

<p> All items in Oregon Digital are defined in terms of copyright and/or licensing, but the specific definitions will vary from item to item. Because of these differences, Oregon Digital relies upon standards like Rights Statements and Creative Commons licensing to help researchers clearly understand ownership and use permissions. </p>

<h5> Rights Statements </h5>
<figure role="group">
  <%= image_tag('copyrightExample1.jpg', style: 'width:50%', alt: "") %>
  <figcaption> Fig. 1 A list of the twelve different Rights Statements that can be found in Oregon Digital </figcaption>
</figure>

<p> There are a total of twelve Rights Statements used by Oregon Digital to communicate the copyright and reuse status of items to its users. These twelve statements are organized into three categories: In Copyright, No Copyright, and Other. Nested within each category are more granular statements delineating more specifics about a work’s copyright and reuse status. </p>
<p> More information about each of the twelve Rights Statements can be accessed through the following links: </p>

<b>In-Copyright</b>
<ul>
  <li><a href="http://rightsstatements.org/vocab/InC/1.0/">In Copyright</a></li>
  <li><a href="http://rightsstatements.org/page/InC-OW-EU/1.0/?language=en">EU Orphan Work</a></li>
  <li><a href="http://rightsstatements.org/vocab/InC-EDU/1.0/">Educational Use Permitted</a></li>
  <li><a href="http://rightsstatements.org/vocab/InC-NC/1.0/">Non-Commercial Use Permitted</a></li>
  <li><a href="http://rightsstatements.org/vocab/InC-RUU/1.0/">Unknown Rightsholder</a></li>
</ul>

<b>No Copyright</b>
<ul>
  <li><a href="http://rightsstatements.org/vocab/NoC-CR/1.0/">Contractual Restrictions</a></li>
  <li><a href="http://rightsstatements.org/vocab/NoC-NC/1.0/">Non-Commercial Use Only</a></li>
  <li><a href="http://rightsstatements.org/vocab/NoC-OKLR/1.0/">Other Legal Restrictions</a></li>
  <li><a href="http://rightsstatements.org/vocab/NoC-US/1.0/">In the United States</a></li>
</ul>

<b>Other</b>
<ul>
  <li><a href="http://rightsstatements.org/vocab/CNE/1.0/">Copyright Not Evaluated</a></li>
  <li><a href="http://rightsstatements.org/vocab/UND/1.0/">No Known Copyright</a></li>
  <li><a href="http://rightsstatements.org/vocab/NKC/1.0/">Copyright Undetermined</a></li>
</ul>

<h6>Where do I find an item’s Rights Statement in Oregon Digital?</h6>

<p>Within Oregon Digital, there are three different places where you can find an item’s Rights Statement.</p>
<ul>
  <li>At the top right of the item’s display page, under the institutional branding and below the Print, Add To.., and Download buttons (Figure 2)</li>
  <li>As part of the description presented under the Details tab that is located beneath the item viewer, once again on the item’s display page (Figure 3)</li>
  <li>On the search results page, next to the item preview (Figure 4)</li>
</ul>

<figure role="group">
  <%= image_tag('copyrightExample2.jpg', style: 'width:75%', alt: "") %>
  <figcaption> Fig 2. This figure shows you where to find a Rights Statement at the top of an item’s page. </figcaption>
</figure>
<br />
<figure role="group">
  <%= image_tag('copyrightExample3.jpg', style: 'width:75%', alt: "") %>
  <figcaption> Fig 3. This figure shows where to find the Rights Statement within an item’s details. </figcaption>
</figure>
<br />
<figure role="group">
  <%= image_tag('copyrightExample4.jpg', style: 'width:75%', alt: "") %>
  <figcaption> Fig 4. This figure shows where to find a Rights Statement on a search results page as part of an item’s search result preview. </figcaption>
</figure>

<h5>Licenses</h5>

<h6>Where can I find specific licenses associated with an item?</h6>
<p>In addition to Rights Statements that provide information about item sharing or re-use, Oregon Digital often includes information about specific licenses associated with an object. Similar to the Rights Statement information noted in Figure 3 above, information about specific Licenses for an item can also be found under the Details tab. (see Figure 5) Something to note: while every item in Oregon Digital will have a Rights Statement associated with it, not all items have a License that is called out separately.</p>

<figure role="group">
  <%= image_tag('copyrightExample5.jpg', style: 'width:75%', alt: "") %>
  <figcaption> Fig. 5 This figure shows where to find, under the Details tab, a specific license that is associated with an item’s re-use. </figcaption>
</figure>

<h6>What types of licenses are associated with items in Oregon Digital?</h6>
<p>Creative Commons licenses are the most frequently used types of standard licenses found in Oregon Digital. One key point to remember about Creative Commons licenses is that their use does not eliminate copyright for the work’s owner. Rather, by using Creative Commons, the owner is able to communicate to potential users how they might be allowed to reuse these works that remain in copyright.</p>

<p>The infographic below (Figure 6) demonstrates the different types of Creative Commons licenses that can be found in Oregon Digital. To learn more about each license visit Creative Commons’ About CC licenses web page. Once there, you will find more detailed explanations of the various abbreviations and sets of permissions associated with each of the eight licenses.</p>

<figure role="group">
  <%= image_tag('copyrightExample6.png', style: 'width:25%', alt: "") %>
  <figcaption> Fig. 6 Infographic showing the spectrum of Creative Commons licenses from most open to most restricted. </figcaption>
</figure>

<h3> Fair Use: What do I do if an item that is in copyright, but there’s no information about how I can use it? </h3>

<p>When you encounter an item that is in copyright but is not otherwise defined in terms of permissions for re-use, then you will need to make a fair use judgment call.</p>

<p>More of an art than a science, determining fair use is a balancing act that needs to be performed case by case. In doing so however, at least four factors need to be weighed: </p>

<ul>
  <li><b>Purpose and Character of Use</b> - Will my use hinder the copyright owner’s right and ability to control the creation of new copies of the work? If yes, then yours is likely not fair use.</li>
  <li><b>Amount Used</b> - Am I seeking to use the entire item or just a part of it? Generally speaking, the less of a work that you use - a quote from a book for example, rather than the entire book - the more in line you are with fair use of the item. That said, for certain types of content, use of even a small amount of the original is not protected by fair use. This is especially true of films, sound recordings and music videos.</li>
  <li><b>Nature of the Copyrighted Work</b> - What type of work is the original? Is it published or unpublished? Certain types of works - a standardized test, for example - are, by definition, less applicable to fair use arguments than are others.</li>
  <li><b>Market Impact</b> - Will my use impact the market value of the copyright holder’s work? If, for example, your intent is to use an image in a presentation to your co-workers, your fair use argument will be much stronger than a case where you intend to duplicate a copyrighted item for sale. If you are reusing research materials that will not be publicly shared and access is controlled, then your fair use argument is strengthened.</li>
</ul>

<p>When engaging in a fair use evaluation process, there are certain best practices that should inform your process. They include:</p>

<ul>
  <li>Contacting the repository associated with the item and asking if you can use work. And understanding that your affiliation with that repository’s larger institution (a university, let’s say) does not have any bearing on your ability to use the work.</li>
  <li>Keeping a paper trail of your copyright research process, including copies of correspondence with archivists or potential rights holders.</li>
  <li>If you choose to present visual or audiovisual content on a web platform, linking or embedding (with attribution) from the original online source will strengthen your fair use argument.</li>
</ul>

<h4>Fair Use Resources</h4>

<p>You can learn more about Fair Use through these resources. </p>

<ul>
  <li><a href="https://www.arl.org/resources/fair-use-fundamentals-infographic/">Association of Research Libraries’ Fair Use Foundationals (Infographic)</a></li>
  <li><a href="https://fairuse.stanford.edu/overview/fair-use/cases/">Stanford University’s Summaries of Fair Use Case Law</a></li>
  <li><a href="https://www.nolo.com/legal-encyclopedia/fair-use-what-transformative.html">NOLO’s What is Transformative Use?</a></li>
  <li><a href="https://copyright.columbia.edu/basics/fair-use/fair-use-checklist.html">Columbia University’s Fair Use Checklist</a></li>
  <li><a href="https://librarycopyright.net/resources/fairuse/howitworks.php">American Library Association’s Fair Use Evaluator Tool</a></li>
</ul>

<h4>When in Doubt: Use the “Contact Us” tab on an item’s page.</h4>

<figure role="group">
  <%= image_tag('copyrightExample7.jpg', style: 'width:100%', alt: "") %>
  <figcaption> Fig. 7 This figure shows you where to select a type of issue. Using this item/an item for something (copyright and permissions) is an option. </figcaption>
</figure>
