<html id="local_contexts_page">
<h2>Local Contexts Labels and Notices</h2>

<p>The <a href="http://localcontexts.org/" target="_blank">Local Contexts</a> project offers Indigenous communities a method to address intellectual property issues by adding cultural and historical context and cultural authority to cultural heritage materials. Using Traditional Knowledge and Biocultural Labels and Notices, Indigenous communities indicate ownership, determine access, and govern culturally appropriate conditions for sharing collections and Indigenous data. TK and BC Labels are always applied by the Indigenous communities whose cultural property items belong.</p>

<p>Institutions and researchers can use TK and BC Notices to identify and recognize Indigenous rights and interests in cultural heritage collections, and to signal a commitment to engage with Indigenous communities in equitable and ethical partnerships. The Notices allow institutions and researchers the opportunity to promote Indigenous data sovereignty and cultural authority.</p>

<p>Below are TK and BC Labels and Notices that could be applied to items in Oregon Digital. For more information about Local Contexts and how Labels and Notices are used in other cultural heritage collections, please visit <a href="http://localcontexts.org/" target="_blank">their site</a>.</p>

<b>Jump to:</b>
<ul>
  <li><a href="#od_tk_label">Traditional Knowledge Labels</a></li>
  <li><a href="#od_bc_label">Biocultural Labels</a></li>
  <li><a href="#od_lcn_label">Local Contexts Notices</a></li>
</ul>

<br>

<h3 id="od_tk_label">Traditional Knowledge Labels</h3>
<h4>Provenance Labels</h4>
<%= image_tag 'local_contexts/tk_a.png'%><h6>TK Attribution (TK A)</h6>
<p>This Label is being used to correct historical mistakes or exclusions pertaining to this material. This is especially in relation to the names of the people involved in performing or making this work and/or correctly naming the community from which it originally derives. As a user you are being asked to also apply the correct attribution in any future use of this work. For information about TK Attribution (TK A) click <a href="http://localcontexts.org/label/tk-attribution/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/tk_cl.png'%><h6>TK Clan (TK CL)</h6>
<p>This Label is being used to indicate that this material is traditionally and usually not publicly available. The Label lets future users know that this material has specific conditions for use and sharing because of clan membership and/or relationships. This material is not, and never was, free, public, or available for everyone. This Label asks viewers of these materials to respect the cultural values and expectations about circulation and use defined by designated clans, members, and their internal relations. For information about TK Clan (TK CL) click <a href="http://localcontexts.org/label/tk-clan/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/tk_cr.png'%><h6>TK Creative (TK CR)</h6>
<p>This Label is being used to acknowledge the relationship between the creative practices of [name] and [community name] and the associated cultural responsibilities. For information about TK Creative (TK CR) click <a href="http://localcontexts.org/label/tk-creative/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/tk_f.png'%><h6>TK Family (TK F)</h6>
<p>This Label is being used to indicate that this material is traditionally and usually not publicly available. The Label is correcting a misunderstanding about the circulation options for this material and letting any users know that this material has specific conditions for sharing between family members. Who these family members are, and how sharing occurs will be defined in each locale. This material is not, and never was, free, public, or available for everyone at anytime. This Label asks you to think about how you are going to use this material and to respect different cultural values and expectations about circulation and use. For information about TK Family (TK F) click <a href="http://localcontexts.org/label/tk-family/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/tk_mc.png'%><h6>TK Multiple Communities (TK MC)</h6>
<p>Responsibility and ownership over this material is spread across several distinct communities. Use will be dependent upon discussion and negotiation with the multiple communities named herein [insert names]. Decisions about use will need to be decided collectively. As an external user of this material you are asked to recognize and respect cultural protocols in relation to the use of this material and clear your intended use with the relevant communities. For information about TK Multiple Communities (TK MC) click <a href="http://localcontexts.org/label/tk-multiple-communities/" target="_blank">here</a>.</p>

<hr style='border-width: 3px;'>

<h4>Protocol Labels</h4>
<%= image_tag 'local_contexts/tk_mg.png'%><h6>TK Men General (TK MG)</h6>
<p>This material has specific gender restrictions on access. It is usually only to be accessed and used by men in the community. If you are not from the community and you have accessed this material, you are requested to not download, copy, remix or otherwise circulate this material to others without permission. This Label asks you to think about whether you should be using this material and to respect different cultural values and expectations about circulation and use. For information about TK Men General (TK MG) click <a href="http://localcontexts.org/label/tk-creativemen-general/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/tk_mr.png'%><h6>TK Men Restricted (TK MR)</h6>
<p>This material has specific gender restrictions on access. It is regarded as important secret and/or ceremonial material that has community-based laws in relation to who can access it. Given its nature it is only to be accessed and used by authorized [and/or initiated] men in the community. If you are an external third party user and you have accessed this material, you are requested to not download, copy, remix or otherwise circulate this material to others. This material is not freely available within the community and it therefore should not be considered freely available outside of the community. This Label asks you to think about whether you should be using this material and to respect different cultural values and expectations about circulation and use. For information about TK Men Restricted (TK MR) click <a href="http://localcontexts.org/label/tk-men-restricted/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/tk_nv.png'%><h6>TK Non-Verified (TK NV)</h6>
<p>This Label is being used because there are concerns about accuracy and/or representations made in this material. This material was not created through informed consent or community protocols for research and engagement. Therefore, questions about its accuracy and who/how it represents this community are being raised. For informational about TK Non-Verified (TK NV) click <a href="http://localcontexts.org/label/tk-non-verified/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/tk_s.png'%><h6>TK Seasonal (TK S)</h6>
<p>This Label is being used to indicate that this material traditionally and usually is heard and/or utilized at a particular time of year and in response to specific seasonal changes and conditions. For instance, many important ceremonies are held at very specific times of the year. This Label is being used to indicate sophisticated relationships between land and knowledge creation. It is also being used to highlight the relationships between recorded material and the specific contexts where it derives, especially the interconnected and embodied teachings that it conveys. For information about TK Seasonal (TK S) click <a href="http://localcontexts.org/label/tk-seasonal/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/tk_ss.png'%><h6>TK Secret / Sacred (TK SS)</h6>
<p>This Label is being used to indicate that this material is traditionally and usually not publicly available because it contains important secret or sacred components. The Label is correcting a misunderstanding about the significance of this material and therefore its circulation conditions. It is letting users know that because of its secret/sacred status it is not, and was never free, public, or available for everyone at anytime. This Label asks you to think about whether you should be using this material and to respect different cultural values and expectations about circulation and use. For information on TK Secret / Sacred (TK SS) click <a href="http://localcontexts.org/label/tk-secret-sacred/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/tk_v.png'%><h6>TK Verified (TK V)</h6>
<p>This Label affirms that the representation and presentation of this material is in keeping with community expectations and cultural protocols. It lets you know that for the individual, family or community represented in this material, use is considered fair, reasonable and respectful. For more information about TK Verified (TK V) click <a href="http://localcontexts.org/label/tk-verified/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/tk_wg.png'%><h6>TK Women General (TK WG)</h6>
<p>This material has specific gender restrictions on access. It is usually only to be accessed and used by women in the community. If you are not from the community and you have accessed this material, you are requested not to download, copy, remix or otherwise circulate this material to others without permission. This Label asks you to think about whether you should be using this material and to respect different cultural values and expectations about circulation and use. For information about TK Women General (TK WG) click <a href="http://localcontexts.org/label/tk-women-general/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/tk_wr.png'%><h6>TK Women Restricted (TK WR)</h6>
<p>This material has specific gender restrictions on access. It is regarded as important secret and/or ceremonial material that has community-based laws in relation to who can access it. Given its nature it is only to be accessed and used by authorized [and/or initiated] women in the community. If you are an external third party user and you have accessed this material, you are requested to not download, copy, remix or otherwise circulate this material to others. This material is not freely available within the community and it therefore should not be considered freely available outside of the community. This Label asks you to think about whether you should be using this material and to respect different cultural values and expectations about circulation and use. For information about TK Women Restricted (TK WR) click <a href="http://localcontexts.org/label/tk-women-restricted/" target="_blank">here</a>.</p>

<hr style='border-width: 3px;'>

<h4>Permission Labels</h4>
<%= image_tag 'local_contexts/tk_cb.png'%><h6>TK Open to Collaboration (TK CB)</h6>
<p>This Label is being used to make clear [community name or authorizing body] is open to future engagement, collaboration, and partnership around research opportunities. For more information about TK Open to Collaboration (TK CB) click <a href="http://localcontexts.org/label/tk-open-to-collaboration/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/tk_co.png'%><h6>TK Community Use Only (TK CO)</h6>
<p>This Label is being used to indicate that this material is traditionally and usually not publicly available. The Label is correcting a misunderstanding about the circulation options for this material and letting any users know that this material has specific conditions for circulation within the community. It is not, and never was, free, public, or available for everyone at anytime. This Label asks you to think about how you are going to use this material and to respect different cultural values and expectations about circulation and use. For information about TK Community Use Only (TK CO) click <a href="http://localcontexts.org/label/tk-community-use-only/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/tk_nc.png'%><h6>TK Non-Commercialization (TK NC)</h6>
<p>This material has been designated as being available for non-commercial use. You are allowed to use this material for non-commercial purposes including for research, study, or public presentation and/or online in blogs or non-commercial websites. This Label asks you to think and act with fairness and responsibility towards this material and the original custodians. For information about TK Non-Commercialization (TK. NC) click <a href="http://localcontexts.org/label/tk-non-commercialization/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/tk_o.png'%><h6>TK Outreach (TK O)</h6>
<p>This Label is being used to indicate that this material is traditionally and usually not publicly available. The Label is correcting a misunderstanding about the circulation options for this material and letting any users know that this material can be used for educational outreach activities. This Label asks you to respect the designated circulation conditions for this material and additionally, where possible, to develop a means for fair and equitable reciprocal exchange for the use of this material with the relevant TK holders. This exchange might include access to educational or other resources that are difficult to access under normal circumstances. For information about TK Outreach (TK O) click <a href="http://localcontexts.org/label/tk-outreach/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/tk_oc.png'%><h6>TK Open to Commercialization (TK OC)</h6>
<p>This Label is being used to indicate that [community name or authorized party] is open to commercialization opportunities that might derive from any cultural material with traditional knowledge to which this Label is connected to. As a primary party for any partnership and collaboration opportunities that emerge from the use of this cultural material and traditional knowledge, we retain an expressed interest in any future negotiations. For information about TK Open to Commercialization (TK OC) click <a href="http://localcontexts.org/label/tk-commercial/" target="_blank">here</a>.</p>

<br><br>

<h3 id="od_bc_label">Biocultural Labels</h3>
<h4>Provenance Labels</h4>
<%= image_tag 'local_contexts/bc_cl.png'%><h6>BC Clan (BC CL)</h6>
<p>This Label is being used to indicate that this material is traditionally and usually not publicly available. The Label lets future users know that this data has specific conditions for use and sharing because of clan membership and/or relationships. This Label asks viewers of this data to respect the cultural values and expectations about circulation and use defined by designated clans, members, and their internal relations. For more information about BC Clans (BC CL) click <a href="http://localcontexts.org/label/bc-clan/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/bc_mc.png'%><h6>BC Multiple Communities (BC MC)</h6>
<p>This Label is being used to affirm that responsibility and ownership over this information, collection, data, and digital sequence information (DSI) is spread across several distinct communities. Use will be dependent upon discussion and negotiation with these multiple communities. For more information about BC Multiple Communities (BC MC) click <a href="http://localcontexts.org/label/bc-multiple-communities/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/bc_p.png'%><h6>BC Provenance (BC P)</h6>
<p>This Label is being used to affirm an inherent interest Indigenous people have in the scientific collections and data about communities, peoples, and the biodiversity found within traditional lands, waters and territories. [Community name or authorizing party] retains the right to be named and associated with it into the future. This association reflects a significant relationship and responsibility to [the species or biological entity] and associated scientific collections and data. For more information about BC Provenance (BC P) click <a href="http://localcontexts.org/label/bc-provenance/" target="_blank">here</a>.</p>

<hr style='border-width: 3px;'>

<h4>Protocol Labels</h4>
<%= image_tag 'local_contexts/bc_cnv.png'%><h6>BC Consent Non-Verified (BC CNV)</h6>
<p>This Label is being used because there are concerns about the accuracy of the consent and/or representations made for this data. This material was not created through informed consent or community protocols for research and engagement. For more information about BC Consent Non-Verified (BC CNV) click <a href="http://localcontexts.org/label/bc-consent-non-verified/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/bc_cv.png'%><h6>BC Consent Verified (BC CV)</h6>
<p>This Label is being used to verify that [community name or authorizing party] have consent conditions in place for the use of this information, collections, data, and digital sequence information. [These can be found at ….]. For more information about BC Consent Verified (BC CV) click <a href="http://localcontexts.org/label/bc-consent-verified/" target="_blank">here</a>.</p>

<hr style='border-width: 3px;'>

<h4>Permission Labels</h4>
<%= image_tag 'local_contexts/bc_cb.png'%><h6>BC Open to Collaboration (BC CB)</h6>
<p>This Label is being used to make clear [community name or authorizing body] is open to future engagement, collaboration, and partnership around research and outreach opportunities. For more information about BC Open to Collaboration (BC CB) click <a href="http://localcontexts.org/label/bc-open-to-collaboration/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/bc_nc.png'%><h6>BC Non-Commercial (BC NC)</h6>
<p>This Label is being used to indicate that these biocultural materials and/or data have been designated as being available for non-commercial use. You are allowed to use this material for non-commercial purposes including for research, study, or public presentation and/or online in blogs or non-commercial websites. This Label asks you to think and act with respect and responsibility towards this data and the original custodians. For more information about BC Non-Commercial (BC NC) click <a href="http://localcontexts.org/label/bc-non-commercial/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/bc_o.png'%><h6>BC Outreach (BC O)</h6>
<p>The Label is letting any users know that this data can be used for educational outreach activities. This Label asks you to respect the designated circulation conditions for these biocultural materials and/or data and additionally, where possible, to develop a means for fair and equitable reciprocal exchange for the use of this data with the relevant BC holders. For more information about BC Outreach (BC O) click <a href="http://localcontexts.org/label/bc-outreach/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/bc_oc.png'%><h6>BC Open to Commercialization (BC OC)</h6>
<p>This Label is being used to indicate that [community name or authorizing party] is open to commercialization opportunities that might derive from any information, collections, data, and digital sequence information (DSI) to which this Label is connected. As a primary party in any partnership and collaboration opportunity that emerges from the use of these resources, we retain an express interest in any future negotiations. For more information about BC Open to Commercialization (BC OC) click <a href="http://localcontexts.org/label/bc-open-to-commercialization/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/bc_r.png'%><h6>BC Research Use (BC R)</h6>
<p>This Label is being used by [community name or authorizing body] to allow this information, collection, data, and digital sequence information (DSI) to be used for unspecified research purposes. This Label does not provide permission for commercialization activities. For more information about BC Research Use (BC R) click <a href="http://localcontexts.org/label/bc-research-use/" target="_blank">here</a>.</p>

<br><br>

<h3 id="od_lcn_label">Local Contexts Notices</h3>
<%= image_tag 'local_contexts/open_to_collaborate.png'%><h6>Open to Collaborate</h6>
<p>Our institution is committed to the development of new modes of collaboration, engagement, and partnership with Indigenous peoples for the care and stewardship of past and future heritage collections. For more information about the Engagement Notice click <a href="http://localcontexts.org/notice/open-to-collaborate/" target="_blank">here</a>.</p>

<hr style='border-width: 3px;'>

<h4>Disclosure Notices</h4>
<%= image_tag 'local_contexts/attribution_incomplete.png'%><h6>Attribution Incomplete</h6>
<p>Collections and items in our institution have incomplete, inaccurate, and/or missing attribution. We are using this notice to clearly identify this material so that it can be updated, or corrected by communities of origin. Our institution is committed to collaboration and partnerships to address this problem of incorrect or missing attribution. For more information about the Attribution Incomplete Notice click <a href="http://localcontexts.org/notice/attribution-incomplete/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/bc_notice.png'%><h6>BC Notice</h6>
<p>The BC (Biocultural) Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material or data. The BC Notice recognizes the rights of Indigenous peoples to permission the use of information, collections, data and digital sequence information (DSI) generated from the biodiversity or genetic resources associated with traditional lands, waters, and territories. The BC Notice may indicate that BC Labels are in development and their implementation is being negotiated. For more information about the BC Notice click <a href="http://localcontexts.org/notice/bc-notice/" target="_blank">here</a>.</p><br>
<%= image_tag 'local_contexts/tk_notice.png'%><h6>TK Notice</h6>
<p>This Notice should be used to recognize that place-based knowledge carries accompanying cultural rights and responsibilities and that appropriate permissions may need to be sought for future use of this material. For more information about the TK Notice click <a href="http://localcontexts.org/notice/tk-notice/" target="_blank">here</a>.</p>
</html>
