<h2>Take-Down Policy</h2>

<p>Oregon Digital was primarily created to support the teaching and research missions of Oregon State University and the University of Oregon. Both the OSU Libraries & Press and the UO Libraries strive to identify the copyright status of individual items and include that information in item metadata. For items where permission has not been granted for inclusion in the collections, or an argument for fair use has not been determined, attempts are made to identify and contact rights holders. Steps are also taken to identify and remediate information that could compromise the privacy and security of individuals and organizations represented in the collections.</p>

<p>Removal of items from Oregon Digital or remediation of metadata can be requested using the <%= link_to 'Contact Form', 'https://oregondigital.org/contact?locale=en', target: '_blank' %> for:</p>

<ul>
  <li>Items where the copyright holder feels their rights have been violated through the provision of access</li>
  <li>Items where a living individual's personal or private information is exposed (or who are acting on behalf of a minor child or an incapacitated parent, spouse, domestic partner or adult child)</li>
  <li>Items containing harmful content as described in the <%= link_to 'Harmful Content Statement', 'https://oregondigital.org/harmful?locale=en', target:'_blank' %></li>
</ul>

<p><i>Only removal of harmful content requests may be made anonymously.</i></p>

<p>All such requests will be reviewed by cognizant OSU or UO stakeholders, who may ask for additional information to better understand the issue and its consequences.</p>

<p>Oregon Digital is committed to preserving the authenticity and integrity of the scholarly and historical record. Thus it is unlikely that perceived errors or inaccuracies present in original items will be “corrected”. Additionally, Oregon Digital will not redact digital content or indices. Similarly, access will not be removed for materials other than in cases where there are legal concerns, for example, the presence of protected information arising from provisions of various laws, e.g. Health Insurance Portability and Accountability Act (HIPAA), General Data Protection Regulation (GDPR) in or Family Educational Rights and Privacy Act (FERPA), or in cases of significant risks to privacy (for example, exposed Social Security numbers), or convincing evidence of a clear and imminent threat to personal safety and well-being.</p>

<div class="lime-green-hr" style="margin: 1em 0;"></div>

<p>Adapted from University of Michigan "<%= link_to 'Takedown Policy for Sensitive Information in U-M Digital Collections.', 'https://www.lib.umich.edu/digital-content-collections-dcc/takedown-policy-sensitive-information-u-m-digital-collections' %>"</p>

<h3>Further resources:</h3>

<p><%= link_to 'Oregon State University Library and Press Call To Action (pdf)', 'https://library.oregonstate.edu/sites/default/files/osulp_call_to_action_060420_1.pdf' %></p>

<p><%= link_to 'UO Libraries Statement on Racism and Systemic Inequities', 'https://library.uoregon.edu/node/7354' %></p>

<p>OCLC "<%= link_to 'Well-intentioned practice for putting digitized collections of unpublished materials online (pdf)', ' https://www.oclc.org/content/dam/research/activities/rights/practice.pdf' %>" (Policy endorsed by the Society of American Archivists and many research libraries.)</p>
