<p>Items in Oregon Digital may have accessible copies. Please check the download button for accessible copies, which will have a fieldname ending in "_ada". If no copy that meets your need exists, please use the form below to request one. The expected response time is 2-4 business days.</p>
<% @prefill_url = Rails.application.routes.url_helpers.url_for(only_path: false, action: 'show', controller: 'hyrax/' + @presenter.model_name.plural, host: request.host, protocol: "https", id: @presenter.id) %>

<%# FORM: Create the form view page to submit the accessibility form %>
<%= form_for @accessibility_form, url: main_app.accessibility_copy_form_index_path, html: { class: 'form-horizontal' } do |f| %>
  <%# HIDDEN FIELD: This field is hidden to check for spam %>
  <%= f.text_field :accessibility_form_method, class: 'hide' %>

  <div class="form-group">
    <%# NAME: Set the user's name box %>
    <p> <%= f.label :name, t('simple_form.accessibility_copy_form.name'), class: "col-sm-12 dark-grey h6", id: "name-label" %> </p>
    <div class="col-sm-12">
      <%= f.text_field :name, value: user_signed_in? ? current_user.name : '', required: true, 'aria-required': "true", 'aria-labelledby': "name-label", class: 'form-control accessibility-copy-form' %>
    </div>


    <%# EMAIL: Set the user's email box %>
    <p> <%= f.label :email, t('simple_form.accessibility_copy_form.email'), class: "col-sm-12 dark-grey h6", id: "email-label" %> </p>
    <div class="col-sm-12">
      <%= f.text_field :email, value: user_signed_in? ? current_user.email : '', required: true, 'aria-required': "true", 'aria-labelledby': "email-label", class: 'form-control accessibility-copy-form' %>
    </div>

    <%# LINK: Set the user's link to Item box %>
    <p> <%= f.label :url_link, t('simple_form.accessibility_copy_form.url_link'), class: "col-sm-12 dark-grey h6", id: "url-link-label" %> </p>
    <div class="col-sm-12">
      <%= f.text_field :url_link, value: !(@prefill_url.blank?) ? @prefill_url : '', required: true, 'aria-required': "true", 'aria-labelledby': "url-link-label", class: 'form-control accessibility-copy-form' %>
    </div>

    <%# DESC: Set the description box %>
    <p> <%= f.label :description, t('simple_form.accessibility_copy_form.description'), class: "col-sm-12 dark-grey h6", id: "description-label" %> </p>
    <div class="col-sm-12">
      <%= f.text_area :description, value: '', rows: 5, 'aria-labelledby': "description-label", class: 'form-control accessibility-copy-form' %>
    </div>

    <%# DATE: Set the date box %>
    <p> <%= f.label :date, t('simple_form.accessibility_copy_form.date'), class: "col-sm-12 dark-grey h6", id: "date-label" %> </p>
    <div class="col-sm-12">
      <%= f.date_field :date, value: f.object.try(:strftime,"%m/%d/%Y"), 'aria-labelledby': "date-label", class: 'form-control accessibility-copy-form' %>
    </div>
  </div>

  <div class="accessibility-send-btn">
    <%= f.submit value: t('simple_form.accessibility_copy_form.button'), class: "btn btn-primary", 'aria-label': "Send" %>
  </div>
<% end %>
