<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="row padding-row"></div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2 left-border">
        <p><b class="homepage-info-text"><%= link_to 'Explore Collections', Rails.application.routes.url_helpers.all_collections_path, class: 'homepage-info-text' %></b></p>
        <p><b class="homepage-info-text"><%= link_to 'Advanced Search', BlacklightAdvancedSearch::Engine.routes.url_helpers.advanced_search_path, class: 'homepage-info-text' %></b></p>
      </div>
      <div class="horizontal-sm" ></div>
      <div class="col-md-2 left-border">
        <p><b> <%= link_to "How to Use This Website", main_app.use_path, method: :get, class: "homepage-info-text" %></b></p>
        <p><b> <%= link_to "About Oregon Digital", main_app.about_path, method: :get, class: "homepage-info-text" %></b></p>
        <p><b> <%= link_to "Copyright and Usage Request", main_app.copyright_path, method: :get, class: "homepage-info-text" %></b></p>
        <p><b> <%= link_to "Harmful Content Statement", main_app.harmful_path, method: :get, class: "homepage-info-text" %></b></p>
        <p><b> <%= link_to "Contact Us", hyrax.contact_path, method: :get, class: "homepage-info-text" %></b></p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <p class="col-xs-12 right-align">
          <a href="https://oregonstate.edu"><img class='osu-logo' src='<%= image_url('OSU_horizontal_1C_B.png')%>' alt="Oregon State University"></a>
          <a href="https://www.uoregon.edu"><img class='uo-logo' src='<%= image_url('Libraries-BLK.png')%>' alt="University of Oregon"></a>
        </p>
        <br>
        <p class="homepage-info-text right-align" >
          Oregon Digital is collaboratively managed by the
          <a class="footer-link-text" href='https://library.uoregon.edu/'>University of Oregon Libraries</a>
          and by
          <a class="footer-link-text" href='https://osulibrary.oregonstate.edu/'>Oregon State University Libraries</a>.
        </p>
        <p class="homepage-info-text right-align">Powered by <a class="footer-link-text" href="https://www.samvera.org">Samvera</a> Hyrax <%= Hyrax::VERSION %></p>
      </div>
    </div>
  </div>
  <div class="AutoDeployTest"></div>
</footer>
