<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 center-text">
        <%= link_to "How to Use This Website", main_app.use_path, method: :get, class: "footer-link-text right-border" %>
        <%= link_to "About Oregon Digital", main_app.about_path, method: :get, class: "footer-link-text right-border" %>
        <%= link_to "Copyright and Usage Request", main_app.copyright_path, method: :get, class: "footer-link-text right-border" %>
        <%= link_to "Harmful Content Statement", main_app.harmful_path, method: :get, class: "footer-link-text right-border" %>
        <%= link_to "Contact Us", hyrax.contact_path, method: :get, class: "footer-link-text" %>
      </div>
    </div>
    <div class="row navbar-text footer-row">
      <div class="col-md-4 col-xs-12">
        <a href="https://oregonstate.edu"><img class='osu-logo' src='<%= image_url('osu-logo.png')%>' alt="Oregon State University"></a>
        <a href="https://www.uoregon.edu"><img class='uo-logo' src='<%= image_url('uologo.png')%>' alt="University of Oregon"></a>
      </div>
      <div class="text-center col-md-4 col-xs-7">
        <p class="homepage-info-text" >
          Oregon Digital is collaboratively managed by the Digital Scholarship Services of the
          <a class="footer-link-text" href='https://library.uoregon.edu/'>University of Oregon Libraries</a>
          and by
          <a class="footer-link-text" href='https://osulibrary.oregonstate.edu/'>Oregon State University Libraries</a>.
        </p>
      </div>
      <div class="col-md-4 col-xs-5">
        <div class="text-right">
          <p>
            <a class="footer-link-text" href="https://twitter.com/oregondigcol"><img class='social-logo' src='<%= image_url('twitter.jpg')%>' alt="">
            OD on Twitter</a>
          </p>
          <p class='deployed-version'>
            Oregon Digital <%= "#{OregonDigital::VERSION}-#{ENV.fetch('DEPLOYED_VERSION', 'development')}" %>
          </p>
          <p>Powered by <a class="footer-link-text" href="https://www.samvera.org">Samvera</a> Hyrax <%= Hyrax::VERSION %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="AutoDeployTest"></div>
</footer>
