<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 center-text">
        <%= link_to "About Oregon Digital", Hyrax::Engine.routes.url_helpers.help_path, method: :get, class: "footer-link-text right-border" %>
        <%= link_to "Policies", Hyrax::Engine.routes.url_helpers.help_path, method: :get, class: "footer-link-text right-border" %>
        <%= link_to "Copyright", Hyrax::Engine.routes.url_helpers.help_path, method: :get, class: "footer-link-text right-border" %>
        <%= link_to "Contact Us", Hyrax::Engine.routes.url_helpers.help_path, method: :get, class: "footer-link-text right-border" %>
        <%= link_to "Donate", Hyrax::Engine.routes.url_helpers.help_path, method: :get, class: "footer-link-text #{'right-border' if can? :read, :admin_dashboard}" %>
        <% if can? :read, :admin_dashboard %>
          <a href="https://oregondigital.github.io/oregon-digital-style-guide/" class="footer-link-text">Style Guide</a>
        <% end %>
      </div>
    </div>
    <div class="row navbar-text footer-row">

      <div class="col-md-4 col-xs-12">
        <img class='osu-logo' src='<%= image_url('osu-logo.png')%>' alt="Oregon State University">
        <img class='uo-logo' src='<%= image_url('uologo.png')%>' alt="University of Oregon">
      </div>
      <div class="text-center col-md-4 col-xs-7">
        <p class="homepage-info-text" >
          Oregon Digital is collaboratively managed by the Digital Scholarship Services of the
          <a class="footer-link-text" href='https://library.uoregon.edu/'>University of Oregon Libraries</a>
          and by
          <a class="footer-link-text" href='https://osulibrary.oregonstate.edu/'>Oregon State University Libraries</a>.
        </p>
      </div>
      <div class="col-md-4 col-xs-5">
        <div class="text-right">
          <p>
            <img class='social-logo' src='<%= image_url('insta.png')%>' alt="Instagram">
            <img class='social-logo' src='<%= image_url('facebook.png')%>' alt="Facebook">
            <img class='social-logo' src='<%= image_url('twitter.jpg')%>' alt="Twitter">
          </p>
          <p class='deployed-version'>
            Oregon Digital <%= "#{OregonDigital::VERSION}-#{ENV.fetch('DEPLOYED_VERSION', 'development')}" %>
          </p>
          <p>Powered by <a class="footer-link-text" href="samvera.org">Samvera</a> Hyrax <%= Hyrax::VERSION %></p>
        </div>
      </div>
    </div>
  </div>
</footer>
