<%= form_tag search_form_action, method: :get, class: "form-horizontal search-form", id: "header-search-form-header", role: "search" do %>
  <%= hidden_field_tag :search_field, 'all_fields', id: 'header_search_field' %>
  <div class="form-group">

    <div class="input-group">
      <label class="sr-only" for="header-search-field-header">
        <%= t("hyrax.search.form.q.label", application_name: application_name) %>
      </label>
      <%= text_field_tag 'q[]', nil, class: "q form-control", id: "header-search-field-header", placeholder: "Search Oregon Digital" %>
      <button type="submit" class="" id="header-search-submit-header">
        <i class="fa fa-search" aria-hidden="true"></i>
        <span class="sr-only">Search Catalog</span>
      </button>
    </div><!-- /.input-group -->

  </div><!-- /.form-group -->
  <%= link_to BlacklightAdvancedSearch::Engine.routes.url_helpers.advanced_search_path, class: 'advanced-link' do %>
    Advanced <span class="d-sm-inline-block d-md-none">Search</span>
  <% end %>
<% end %>
