<p id='notice'><%= notice %></p>

<div class='col-xs-12 main-header'>
  <h1><span class='fa fa-cloud-download' aria-hidden='true'></span> Exporter: <%= @exporter.name %></h1>
</div>

<div class='panel panel-default'>
  <div class='panel-body'>

    <% if File.exist?(@exporter.exporter_export_zip_path) %>
      <%= simple_form_for @exporter, method: :get, url: exporter_download_path(@exporter), html: { class: 'form-inline bulkrax-p-align' } do |form| %>
        <strong>Download:</strong>
        <%= render 'downloads', exporter: @exporter, form: form %>
        <%= form.button :submit, value: 'Download', data: { disable_with: false } %>
      <% end %>
    <% end %>

    <p class='bulkrax-p-align'>
      <strong><%= t('bulkrax.exporter.labels.name') %>:</strong>
      <%= @exporter.name %>
    </p>

    <p class='bulkrax-p-align'>
      <strong><%= t('bulkrax.exporter.labels.user') %>:</strong>
      <%= @exporter.user %>
    </p>

    <p class='bulkrax-p-align'>
      <strong><%= t('bulkrax.exporter.labels.export_type') %>:</strong>
      <%= @exporter.export_type %>
    </p>

    <p class='bulkrax-p-align'>
      <strong><%= t('bulkrax.exporter.labels.export_from') %>:</strong>
      <%= @exporter.export_from %>
    </p>

    <p class='bulkrax-p-align'>
      <strong><%= t('bulkrax.exporter.labels.export_source') %>:</strong>
      <% case @exporter.export_from %>
      <% when 'collection' %>
	<% collection = Bulkrax.object_factory.find_or_nil(@exporter.export_source) %>
	<% id = collection&.id || @exporter.export_source %>
	<% title = collection&.title&.first || @exporter.export_source %>
        <%= link_to title, hyrax.dashboard_collection_path(id) %>
      <% when 'importer' %>
        <% importer = Bulkrax::Importer.find(@exporter.export_source) %>
        <%= link_to importer.name, bulkrax.importer_path(importer.id) %>
      <% when 'worktype' %>
        <%= @exporter.export_source %>
      <% when 'local_collection' %><!--insert two lines for local_collection -->
        <%= @exporter.export_source %>
      <% end %>
    </p>

    <p class='bulkrax-p-align'>
      <strong><%= t('bulkrax.exporter.labels.parser_klass') %>:</strong>
      <%= @exporter.parser_klass %>
    </p>

    <p class='bulkrax-p-align'>
      <strong><%= t('bulkrax.exporter.labels.limit') %>:</strong>
      <%= @exporter.limit %>
    </p>

    <p class='bulkrax-p-align'>
      <strong><%= t('bulkrax.exporter.labels.generated_metadata') %>:</strong>
      <%= @exporter.generated_metadata %>
    </p>

    <p class='bulkrax-p-align'>
      <strong><%= t('bulkrax.exporter.labels.include_thumbnails') %>:</strong>
      <%= @exporter.include_thumbnails %>
    </p>


    <%= render partial: 'bulkrax/shared/bulkrax_errors', locals: {item: @exporter} %>

    <%= render partial: 'bulkrax/shared/bulkrax_field_mapping', locals: {item: @exporter} %>

    <%# Currently, no parser-specific fields exist on Exporter,
        thus there's no real reason to always show this field %>
    <% if @exporter.parser_fields.present? %>
      <p class='bulkrax-p-align'>
        <strong><%= t('bulkrax.exporter.labels.parser_fields') %>:</strong><br>
        <% @exporter.parser_fields.each do |k, v| %>
          <%= k %>: <%= v %><br>
        <% end %>
      </p>
    <% end %>

    <p class='bulkrax-p-align'><strong><%= t('bulkrax.exporter.labels.field_mapping') %>:</strong></p>

    <p class="bulkrax-p-align" title="<%= @exporter.last_run&.total_work_entries %> processed, <%= @exporter.last_run&.failed_records %> failed">
      <strong>Total Entries:</strong>
      <%= @exporter.last_run&.total_work_entries %>
    </p>
    <br>

    <div class="bulkrax-nav-tab-bottom-margin">
      <!-- Nav tabs -->
      <div class="outline">
        <%= render partial: 'bulkrax/shared/entries_tab', locals: { item: @exporter } %>
      </div>
      <br>
      <%= link_to 'Edit', edit_exporter_path(@exporter) %>
      |
      <%= link_to 'Back', exporters_path %>
    </div>
  </div>
</div>

