
<div id="appliedParamsConstraint" class="clearfix visible-xs-inline-block breadcrumb">
  <%= render_constraints(params) %>
</div>
<div class="widget-wrapper">
  <div class="pull-right catalog-search">
    <%# OVERRIDE FROM BLACKLIGHT to remove start over link and replace with view type widget %>
    <% tool_config = Blacklight::Configuration::ToolConfig.new %>
    <% tool_config.name = :view_type_group %>
    <%= render_filtered_partials(view_type_group: tool_config) %>
  </div>

  <div id="appliedParams" class="clearfix hidden-xs">
    <%= render_constraints(params) %>
  </div>

  <%= render_results_collection_tools wrapping_class: "search-widgets", constraint: true  %>

</div>

<div class="constraints-divider"></div>

<div class="results-constraints-wrapper">
  <h2 class="sr-only top-content-title"><%= t('blacklight.search.search_results_header') %></h2>
  <div class="result-count mw-lg-b col-md-3 col-sm-4"> <strong>Showing <%= ((@response.current_page * @response.limit_value) - (@response.limit_value)) + 1 %> to <%= (@response.current_page * @response.limit_value) %> of <%= @response.total_count %> item(s) </strong></div>
  <%= render 'sort_and_per_page' %>
</div>
