<!-- OVERRIDE FROM HYRAX -->
<div class="col-xs-9 col-sm-7 col-md-7">
  <div class="metadata-row row">
  <% doc_presenter = index_presenter(document) %>
  <% index_fields(document).each do |field_name, field| -%>
    <% if should_render_index_field? document, field %>
        <span><%= render_index_field_label document, field: field_name %></span>
        <span><%= doc_presenter.field_value field %></span>
        <br />
    <% end %>
  <% end %>
  </div>
  <% if document.collection? %>
    <% collection_presenter = OregonDigital::CollectionPresenter.new(document, current_ability) %>
    <div class="collection-counts-wrapper row">
      <div class="collection-counts-item">
        <span><%= collection_presenter.total_viewable_collections %></span>Collections
      </div>
      <div class="collection-counts-item">
        <span><%= collection_presenter.total_viewable_works %></span>Items
      </div>
    </div>
  <% end %>
  <% if document.children? %>
    <% @works = ActiveFedora::Base.find(document.id) %>
    <div class="metadata-row row">
      Contains <%= @works.child_works.count %> items
    </div>
  <% end %>
  <% if document.parents? %>
    <div class="metadata-row row">
      <span class="children"> <%= t('hyrax.search.list.parents.header') %></span>
      &nbsp;
      <span>
        <ul class="tabular">
        <% document.parents.each do |parent| %>
          <li><%= parent.to_s %></li>
        <% end %>
        </ul>
      </span>
    </div>
  <% end %>
  <div class="metadata-row row">
    <% document['rights_statement_tesim'].each_with_index do |rights_statement, i| %>
      <i class="large-icon <%= document.rights_statement_to_fa_class(rights_statement) %>" aria-hidden="true"></i>
      <%= doc_presenter.field_value index_fields(document)["rights_statement_label_sim"]%>
    <% end unless document['rights_statement_tesim'].nil? %>
  </div>
  <div class="metadata-row row">
    <%= render 'index_type_icon', document: document unless document.resource_type_label.first.nil? || document.resource_type_label.first.empty? %>
    <%= doc_presenter.field_value index_fields(document)['resource_type_label_tesim'] %>
  </div>
</div>
<!-- ADD SAVE BUTTON AND MODAL -->
<% unless document.collection? %>
  <%= button_tag t('hyrax.dashboard.my.action.save'),
                  class: 'btn btn-default submits-batches submits-batches-add pull-right',
                  data: { toggle: "modal", target: "#collection-list-container", id: document.id },
                  :onclick => "javascript:updateSaveCheckboxes(this)" %>
<% end %>
