<div class="masonry document collection">
  <div class="thumbnail">
    <%= link_to(url_for_document(document), document_link_params(document, :counter => document_counter_with_offset(document_counter)))  do |body| %>
      <span class="gradient-wrapper"><%= image_tag(thumbnail_url(document), alt: "")%></span>
      <h3 class="visible-all-inline h5">
        <%= truncate(index_presenter(document).label(document_show_link_field(document)), length: 89) %>
        <% if current_ability.admin? ? false : controller.institution_restricted?(document.id) %>
          <span class="glyphicon glyphicon-lock"></span>
        <% end %>
      </h3>
      <span class="dark-grey">(<%= controller.total_viewable_items(document.id) %>)</span>
    <% end %>
  </div>
  <%= render_document_partials document, blacklight_config.view_config(:masonry).partials, :document_counter => document_counter %>
</div>