<div class="col-md-<%= document.collection? ? 7 : 10 %>">
  <div class="metadata">
    <dl class="dl-horizontal">
    <% doc_presenter = index_presenter(document) %>
    <% index_fields(document).each do |field_name, field| -%>
      <% if should_render_index_field? document, field %>
          <dt><%= render_index_field_label document, field: field_name %></dt>
          <dd><%= doc_presenter.field_value field %></dd>
      <% end %>
    <% end %>
    </dl>
  </div>
</div>
<% if document.collection? %>
  <% collection_presenter = Hyrax::CollectionPresenter.new(document, current_ability) %>
  <div class="col-md-3">
    <div class="collection-counts-wrapper">
      <div class="collection-counts-item">
        <span><%= collection_presenter.total_viewable_collections %></span>Collections
      </div>
      <div class="collection-counts-item">
        <span><%= collection_presenter.total_viewable_works %></span>Works
      </div>
    </div>
  </div>
<% end %>
<div class="resource-type col-md-offset-2 col-md-10">
  <%= render 'index_type_icon', document: document unless document.type_label.first.empty? %>
  <%= doc_presenter.field_value index_fields(document)['type_label_tesim'] %>
  <%= label_tag "", class: 'pull-right' do %>
    <% raw("#{check_box_tag "my_shelf_#{document.id}", document.id, false, class: 'my_shelf_result_checkbox'} Add to My Shelf") %>
  <% end %>
</div>
