<% doc_presenter = index_presenter(document) %>

<div class="metadata-row">
  <dl class="row">
  <% index_fields(document).each do |field_name, field| -%>
    <% if should_render_index_field? document, field %>
        <dt class="col-sm-4"><%= render_index_field_label document, field: field_name %></dt>
        <dd class="col-sm-8"><%= doc_presenter.field_value field %></dd>
    <% end %>
  <% end %>
  </dl>
</div>

<div class="metadata-row">
  <% if document.children? %>
    <%= render 'index_type_icon', document: document unless document.type_label.first.nil? || document.type_label.first.empty? %>
    <span class="sr-only"><%= document.type_label.first %></span>
    (<%= document.children.count %> Items)
  <% end %>
</div>
