<% content_for(:navbar) do %>
<% end %>

<% @page_title = t('blacklight.search.page_title.title', :constraints => render_search_to_page_title(params), :application_name => application_name) %>

<% content_for(:head) do -%>
  <%= render_opensearch_response_metadata %>
  <%= rss_feed_link_tag %>
  <%= atom_feed_link_tag %>
  <%= json_api_link_tag %>
<% end %>

<%# OVERRIDE FROM HYRAX to add h1 to search results page %>
<%- if controller.controller_name == "catalog" %>
  <h1 class="sr-only"><%= t('blacklight.search.search_results') %></h1>
<%- else %>
  <%= render 'sort_and_per_page' %>
  <h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>
<%- end %>

<%- if @response.empty? %>
  <%= render "zero_results" %>
<%- elsif render_grouped_response? %>
  <%= render_grouped_document_index %>
<%- else %>
  <%= render_document_index %>
<%- end %>

<%= render 'results_pagination' %>

