<!-- OVERRIDE FROM HYRAX TO ADD SAVE BUTTON AND MODAL -->

<div id="sortAndPerPage" class="row sort-pagination d-md-flex justify-content-between" role="navigation" aria-label="<%= t('blacklight.search.per_page.aria_label')%>">
  <%= render_results_collection_tools wrapping_class: "search-widgets col-md-6 col-xs-12" %>

  <div class="save-widgets col-md-6 col-xs-12 text-right">
    <%= button_tag t('hyrax.dashboard.my.action.select_all'),
                    class: 'select-button',
                    onclick: 'javascript:selectAllSearchResults()' %>
    <%= button_tag t('hyrax.dashboard.my.action.none'),
                    class: 'deselect-button',
                    onclick: 'javascript:deselectAllSearchResults()' %>
    <%= button_tag t('hyrax.dashboard.my.action.save_selected_to'),
                    class: 'btn btn-default submits-batches submits-batches-add',
                    data: { toggle: "modal", target: "#collection-list-container" } %>
  </div>
</div>

<%= render 'hyrax/dashboard/collections/form_for_select_collection', user_collections: @user_collections %>
<%= render 'oregon_digital/dashboard/collections/form_for_create_collection' %>
<!-- END OVERRIDE -->
