<!-- OVERRIDE FROM HYRAX TO ADD SAVE BUTTON AND MODAL -->

<div id="sortAndPerPage" class="sort-pagination d-md-flex justify-content-between col-md-9 col-sm-8" aria-label="<%= t('blacklight.search.per_page.aria_label')%>">
  <%= render_results_collection_tools wrapping_class: "search-widgets col-md-6 col-xs-12" %>

  <div class="save-widgets col-md-6 col-xs-12 text-right">
    <%= button_tag( class: 'select-button',
                    onclick: 'javascript:selectAllSearchResults()') do %>
                      <span aria-hidden='true'><%= t('hyrax.dashboard.my.action.select_all') %></span>
                      <span class="sr-only"> Select all works for adding </span>
                    <% end %>
    <%= button_tag( class: 'deselect-button',
                    onclick: 'javascript:deselectAllSearchResults()') do %>
                      <span aria-hidden='true'><%= t('hyrax.dashboard.my.action.none') %></span>
                      <span class="sr-only"> Deselect all works for adding </span>
                    <% end %>
    <%= button_tag( class: 'btn btn-default submits-batches submits-batches-add',
                    data: { toggle: "modal", target: "#collection-list-container" }) do %>
                      <span aria-hidden='true'><%= t('hyrax.dashboard.my.action.add_selected_to') %></span>
                      <span class="sr-only"> Add selected works to a collection </span>
                    <% end %>
  </div>
</div>

<%= render 'hyrax/dashboard/collections/form_for_select_collection', user_collections: @user_collections %>
<%= render 'oregon_digital/dashboard/collections/form_for_create_collection' %>

<div role='region' id='select-and-deselect' aria-live='polite'>
  <p id='select-chosen' class='sr-only'>Deselected All</p>
</div>
<!-- END OVERRIDE -->
