<div class="facet_pagination top">
  <%= render :partial=>'facet_pagination' %>
</div>

<div class="modal-header">
  <h3 id="modal-title" class="modal-title"><%= facet_field_label(@facet.key) %></h3>
  <button type="button" class="ajax-modal-close close" data-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>">
    <span>&times;</span>
  </button>

  <%= render partial: 'facet_index_navigation' if @facet.index_range && @display_facet.index? %>

</div>
<div class="modal-body">
  <div class="facet_extended_list">
  <% ordered_facet = @display_facet.items.group_by { |v| v.hits }.map do |key, value| %>
    <% value.sort_by! { |v| v.value.downcase }.reverse.reverse %>
  <% end.flatten %>
  <% field_facet = Blacklight::Solr::Response::Facets::FacetField.new(@display_facet.name, ordered_facet) %>
  <%= render_facet_limit(field_facet, layout: false) %>
  </div>
</div>

<div class="modal-footer">

  <div class="facet_pagination bottom">
    <%= render :partial=>'facet_pagination' %>
  </div>
</div>
