<div class="facet_pagination top">
  <%= render :partial=>'facet_pagination' %>
</div>

<div class="modal-header">
  <h3 id="modal-title" class="modal-title"><%= facet_field_label(@facet.key) %></h3>
  <button type="button" class="ajax-modal-close close" data-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>">
    <span>&times;</span>
  </button>

  <%= render partial: 'facet_index_navigation' if @facet.index_range && @display_facet.index? %>

</div>
<div class="modal-body">
  <div role="region" id="facet_list_header" aria-live="polite">
    <% if @pagination.prefix && @display_facet.index? %>
      <h4><%= facet_field_label(@facet.key).pluralize %> starting with "<%= @pagination.prefix %>" </h4>
    <% elsif @display_facet.index? %>
      <h4><%= t('blacklight.search.facets.all') %> <%= facet_field_label(@facet.key).pluralize %></h4> 
    <% end %>
  </div>

  <div class="facet_extended_list">
    <% ordered_facet = @display_facet.items.sort_by { |v| v.value.downcase } if @display_facet.sort == 'index' %>
    <% ordered_facet = @display_facet.items.group_by { |v| v.hits }.map do |key, value| %>
      <% value.sort_by! { |v| v.value.downcase }.reverse.reverse %>
    <% end.flatten if @display_facet.sort == 'count' %>
    <% field_facet = Blacklight::Solr::Response::Facets::FacetField.new(@display_facet.name, ordered_facet) %>
    <%= render_facet_limit(field_facet, layout: false) %>
  </div>
</div>

<div class="modal-footer">

  <div class="facet_pagination bottom">
    <%= render :partial=>'facet_pagination' %>
  </div>
</div>
