<div class="devise-container">
  <h1 class="h2 text-center" style="margin-bottom:2em">Log in to Oregon Digital</h1>

  <div class="login-select">
    <div class="row">
      <ul class="flex-container">
        <li class="osu-login flex-item">
          <div>
            <label>
              <input type="radio" name="login-page-select" onclick="toggleFooter('.devise-container', '#login-page-footer-OSU-footer')">
              <%= image_tag('osu_logo.png', height: '50', width: '50', alt: 'Oregon State University Login') %>OSU
            </label>
          </div>
        </li>
        <li class="uo-login flex-item">
          <div>
            <label>
              <input type="radio" name="login-page-select" onclick="toggleFooter('.devise-container', '#login-page-footer-UO-footer')">
              <%= image_tag('uo.png', height: '50', width: '50', alt: 'University of Oregon Login') %>UO
            </label>
          </div>
        </li>
        <li class="flex-item">
          <div>
              <label>
                <input type="radio" name="login-page-select" checked="checked" onclick="toggleFooter('.devise-container', '#login-page-footer-local-footer')">
                 Other Affiliation
              </label>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="lime-green-hr" style="margin-bottom:1em"></div>

  <div id="login-page-footer-OSU-footer" class=" login-footer text-center" style='display: none;'>
    <div class='row'>
      <%= button_to main_app.new_osu_session_path, method: :post, class: 'btn btn-primary' do %>
        <span class="university-login">CONTINUE TO OSU LOG IN</span>
      <% end %>
    </div>
    <div class='row'>
      Questions about logging in? Contact us.
    </div>
  </div>
  <div id="login-page-footer-UO-footer" class=" login-footer text-center" style='display: none;'>
    <div class='row'>
      <%= button_to main_app.new_uo_session_path, method: :post, class: 'btn btn-primary' do %>
        <span class="university-login">CONTINUE TO UO LOG IN</span>
      <% end %>
    </div>
    <div class='row'>
      Questions about logging in? Contact us.
    </div>
  </div>

  <div id="login-page-footer-local-footer" class="login-footer" style='display: none;'>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="flex-container log-in-form devise-form">
        <div class="field flex-item">
          <div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            <br />
            <%= f.label :email %>
          </div>
        </div>

        <div class="field flex-item">
          <div>
            <%= f.password_field :password, autocomplete: "current-password" %>
            <br />
            <%= f.label :password %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field flex-item">
            <div>
              <%= f.check_box :remember_me %>
              <br />
              <%= f.label :remember_me %>
            </div>
          </div>
        <% end %>

        <div class="actions flex-item">
          <div>
            <%= f.submit "Log in", class: 'btn btn-primary' %>
            <br />
            <%= link_to "Forgot password?", new_password_path(resource_name) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>