<h1 class="h2 text-center" style="margin-bottom:2em">Log in to Oregon Digital</h1>
<div class="lime-green-hr" style="margin-bottom:1em"></div>

<%= render "devise/shared/links" %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="flex-container log-in-form devise-form">
    <div class="field flex-item">
      <div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <br />
        <%= f.label :email %>
      </div>
    </div>

    <div class="field flex-item">
      <div>
        <%= f.password_field :password, autocomplete: "current-password" %>
        <br />
        <%= f.label :password %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field flex-item">
        <div>
          <%= f.check_box :remember_me %>
          <br />
          <%= f.label :remember_me %>
        </div>
      </div>
    <% end %>

    <div class="actions flex-item">
      <div><%= f.submit "Log in", class: 'btn btn-primary' %></div>
    </div>
  </div>
<% end %>