<%= form_tag '/admin/workflows', method: :get, class: "form-horizontal search-form", id: "facet-search-form-facet", role: "search" do %>
  <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:search_field, :qt, :page, :utf8)) %>
  <%= hidden_field_tag :search_field, 'all_fields', id: 'facet_search_field' %>
  <div class="form-group">

    <label class="sr-only" for="facet-search-field-facet">
      <%= t("hyrax.search.form.facet.label") %>
    </label>

    <div class="input-group">
      <button type="submit" class="" id="facet-search-submit-facet">
        <i class="fa fa-search" aria-hidden="true"></i>
        <span class="sr-only">Search Reviewable Submissions</span>
      </button>
      <%= text_field_tag 'q[]', nil , class: "q form-control facet-search w-100", id: "facet-search-field-facet", placeholder: "Type a keyword" %>
    </div><!-- /.input-group -->

  </div><!-- /.form-group -->
<% end %>
