<!-- OVERRIDE FROM HYRAX TO ADD SAVE BUTTON AND MODAL -->

<div id="sortAndPerPage" class="row sort-pagination d-md-flex justify-content-between" role="navigation" aria-label="<%= t('blacklight.search.per_page.aria_label')%>">
  <%= render_results_collection_tools wrapping_class: "search-widgets col-md-4 col-xs-12 text-right", constraint: false %>

  <div class="save-widgets col-md-4 col-xs-12 text-right">
    <%= button_tag( class: 'select-button',
                    onclick: 'javascript:selectAllSearchResults()',
                    'aria-controls' => 'select-chosen' ) do %>
                      <span aria-hidden='true'><%= t('hyrax.dashboard.my.action.select_all') %></span>
                      <span class="sr-only"> Select all works for adding</span>
                    <% end %>
    <%= button_tag( class: 'deselect-button',
                    onclick: 'javascript:deselectAllSearchResults()',
                    'aria-controls' => 'select-chosen' ) do %>
                      <span aria-hidden='true'><%= t('hyrax.dashboard.my.action.none') %></span>
                      <span class="sr-only"> Deselect all works for adding</span>
                    <% end %>
    <%= button_tag( class: 'bulk-review-button btn-default',
                    onclick: 'javascript:bulkReview(event)') do %>
                      <span aria-hidden='true'><%= t('hyrax.dashboard.my.action.review_selected') %></span>
                      <span class="sr-only"> Review Selected </span>
                    <% end %>
  </div>
</div>

<%= render 'hyrax/dashboard/collections/form_for_select_collection', user_collections: @user_collections %>
<%= render 'oregon_digital/dashboard/collections/form_for_create_collection' %>

<div role='region' id='select-and-deselect' aria-live='polite'>
  <p id='select-chosen' class='sr-only'>Deselected All</p>
</div>
<!-- END OVERRIDE -->
