<%# CAROUSEL: Create the Local Contexts Carousel displaying the label that is present for the collection show page %>
<div class="row">
  <div class="col-sm-12">
    <div class="title-link-local-contexts">
      <p><%= link_to 'About Local Contexts', Rails.application.routes.url_helpers.local_contexts_path, 'aria-label': "Read more about Local Contexts", class: 'lato-p' %></p>
    </div>
    <h2 class='h6'>Local Contexts</h2>
    <hr style='border-width: 3px;'>

    <%# FETCH: Get the rows and image path for carousel %>
    <% @lc_labels = OregonDigital::LocalContextsService.new.all_labels(collection_items) %>
    <% @lc_arr = OregonDigital::LocalContextsService.new.parse_labels_for_image(@lc_labels) %>
    <% @row_size = OregonDigital::LocalContextsService.new.get_row_size(collection_items.count) %>
    <% @lc_nested = OregonDigital::LocalContextsService.new.split_array_chunk(@lc_arr) %>
    <% @label_nested = OregonDigital::LocalContextsService.new.split_array_chunk(@lc_labels) %>

    <%# CAROUSEL: Implement a carousel to display the local contexts %>
    <div id="lc_carousel" class="carousel slide" data-ride="carousel" aria-roledescription="carousel" aria-label="Highlighted Local Contexts">
      <!-- INDICATOR: Indicator for slides -->
      <ol class="carousel-indicators">
        <% @row_size.times do |r| %>
          <% if r == 0 %>
            <li data-target="#lc_carousel" data-slide-to="<%= r %>" aria-label="Slide <%= r + 1 %>" aria-controls="carousel-item-<%= r + 1 %>" class="active"></li>
          <% else %>
            <li data-target="#lc_carousel" data-slide-to="<%= r %>" aria-label="Slide <%= r + 1 %>" aria-controls="carousel-item-<%= r + 1 %>"></li>
          <% end %>
        <% end %>
      </ol>

      <!-- SLIDER: Wrapper for slides -->
      <div class="carousel-inner">
        <% @row_size.times do |r| %>
          <% @carousel_name = (r == 0 ? 'item active' : 'item') %>
          <div class="<%= @carousel_name %>" aria-roledescription="slide" aria-label="<%= (r + 1) %> of <%= @row_size %>">
            <div class="row">
              <%# GET: Get the right index to print on carousel %>
              <% @lc_images = @lc_nested[r] %>
              <% @lc_labels = @label_nested[r] %>
              <% @lc_images.each_with_index do |value, index| %>
                <div class="col-xs-3">
                  <%= image_tag "local_contexts/#{value}.png", class: "carousel-lc-image" %>
                  <% if @lc_labels[index].include?('(') %>
                    <% @parse_value = @lc_labels[index].gsub(/\(.*?\)|\S+/).to_a %>
                    <p class="carousel-lc-title lato-b"><%= @parse_value[0..-2].join(' ') %></p>
                    <p class="carousel-lc-sub lato-b"><%= @parse_value[-1] %></p>
                  <% else %>
                    <p class="carousel-lc-title lato-b"><%= @lc_labels[index] %></p>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="carousel-buttons">
        <!-- PLAY/PAUSE: Manual way to play or pause the automatic slider -->
        <button id="play_bt" type="button" class="btn btn-default btn-xs" aria-label="Start automatic slide show">
          <span class="glyphicon glyphicon-play"></span>
          <span class="sr-only">Play</span>
        </button>
        <button id="pause_bt" type="button" class="btn btn-default btn-xs" aria-label="Pause automatic slide show">
          <span class="glyphicon glyphicon-pause"></span>
          <span class="sr-only">Pause</span>
        </button>
      </div>

      <!-- CONTROLLER: Left & right controls -->
      <a class="left carousel-control" href="#lc_carousel" data-slide="prev" aria-label="Previous Slide">
        <span class="glyphicon glyphicon-chevron-left" id="carousel-arrow"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#lc_carousel" data-slide="next" aria-label="Next Slide">
        <span class="glyphicon glyphicon-chevron-right" id="carousel-arrow"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<%# SCRIPT: For carousel to work %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
