<%= hidden_field_tag :facet_configuration %>

<ul id='sortable_facets' class="list-group col">
  <% @collection.available_facets.each_with_index do |facet,index| %>
    <li id="facet_<%= facet.id %>" class="list-group-item" style="float:none">
      <span class="handle"><i class="fa fa-arrows fa-2x" aria-hidden="true"></i></span>
      <%= label_tag do %>
        <%= t("simple_form.labels.defaults.#{facet.property_name}") %>
        <%= text_field_tag "facet_label_#{facet.id}", facet.label, class: "form-control" %>
      <% end %>
      <%= label_tag do %>
        Enable
        <%= check_box_tag "facet_enabled_#{facet.id}", nil, facet.enabled %>
      <% end %>
    </li>
  <% end %>
</ul>
