<%= "<h2 id=\"Content Warning\">Content Warning</h2>".html_safe %>
<%= "<h3 id=\"Blur Image\">Blur Image</h3>".html_safe %>
<p> Would you like to blur your image?</p>
<ul>
  <li class="radio">
    <label>
      <%= f.input :mask_content, as: :check_boxes, label: false, collection: ['Item Show Page', 'Search Results Page'] %>
    </label>
  </li>
</ul>

<%= "<h3 id=\"Content Warning Statement\">Content Warning Statement</h3>".html_safe %>

<ul>
  <li class="radio">
    <label>
      <%= f.radio_button :content_alert, t('hyrax.content_warning.content_alert') %>
      <%= t('hyrax.content_warning.content_alert') %>
    </label>
  </li>
  <li class="radio">
    <label>
      <%#= f.radio_button :content_warning_text %>
      <%= t('hyrax.content_warning.create_your_own_warning_statement') %>
      <!-- Needs JS to support transplanting this value into the radio button value on submit -->
      <%#= f.text_field :content_warning_text, :class => "custom_content_warning" %>
    </label>
  </li>
</ul>