<%= hidden_field_tag :facet_configuration %>

<ul id='sortable_facets'>
  <% @collection.available_facets.each_with_index do |facet,index| %>
    <li id="facet_<%= facet.id %>">
      <%= label_tag do %>
        <%= facet.property_name %>
        <%= text_field_tag "facet_label_#{facet.id}", facet.label, class: "form-control" %>
      <% end %>
      <%= label_tag do %>
        <%= check_box_tag "facet_enabled_#{facet.id}", nil, facet.enabled %>
        Enable
      <% end %>
    </li>
  <% end %>
</ul>
