<%= "<h2 id=\"Content Warning\">Content Warning</h2>".html_safe %>
<%= "<h3 id=\"Blur Image\">Blur Image</h3>".html_safe %>
<p> Would you like to blur your image?</p>
<ul>
  <li class="radio">
    <%= f.input :mask_content, as: :check_boxes, label: false, collection: ['Item Show Page', 'Search Results Page'] %>
  </li>
</ul>

<%= "<h3 id=\"Content Warning Statement\">Content Warning Statement</h3>".html_safe %>

<ul>
  <li class="radio">
    <%= f.radio_button :content_alert, t('hyrax.content_warning.content_alert') %>
    <%= t('hyrax.content_warning.content_alert') %>
  </li>
  <li class="radio">
    <%= f.radio_button :content_alert, f.object.content_alert, class: 'content_alert_custom_radio', label: "Custom Content Warning Message" %>
    <input type='textarea' value="<%= f.object.content_alert %>" cols='10' rows='10' id='content_alert' onKeyup='copyContentWarningValue(event);' placeholder='Custom Content Warning Message'>
  </li>
</ul>