<%# OVERRIDE FROM HYRAX to restructure add to collection modal #%>
<div id="collection-list-container" class="modal collection-list-modal fade">
  <div class="modal-dialog text-left">
      <div class="modal-content" role="dialog" aria-modal="true" aria-labelledby="col_add_title">
        <div class="modal-header">
          <h2 class="modal-title" id="col_add_title"><%= t("hyrax.collection.select_form.title") %></h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>">&times;</button>
        </div>
        <% unless current_user.nil? %>
          <div class="modal-body">
            <div class="collection-list">
              <span class="h4 collection-list-header"><%= t("hyrax.collection.select_form.select_heading") %></span>
              <div>
                <% if @add_works_to_collection.present? %>
                  <%= text_field_tag 'member_of_collection_label', @add_works_to_collection_label, disabled: true %>
                  <%= hidden_field_tag 'member_of_collection_ids', @add_works_to_collection %>
                <% else %>
                  <%= simple_form_for Collection.new,
                                      url: Hyrax::Engine.routes.url_helpers.dashboard_collection_path('collection_replace_id'),
                                      html: { id: 'update_collection',
                                      onsubmit: 'return post_collection_update(event)' } do |f| %>
                    <%= f.text_field 'member_of_collection_ids',
                              id: 'member_of_collection_ids',
                              required: true,
                              prompt: :translate,
                              data: {
                                placeholder: t('simple_form.placeholders.defaults.member_of_collection_ids'),
                                autocomplete: 'collection',
                                'autocomplete-url' => Rails.application.routes.url_helpers.qa_path + '/search/collections?access=deposit'
                              }%>
                    <%= f.submit  t("hyrax.collection.select_form.update"),
                                  class: 'btn btn-primary submits-batches',
                                  data: {
                                    behavior: 'updates-collection',
                                    disable_with: false,
                                    toggle: 'modal',
                                    target: '#collection-list-container'
                                  } %>
                  <% end %>
                <% end %>
              </div>
            </div><!-- collection-list -->
            <% unless Hyrax::CollectionType.find_by(machine_id: :user_collection).nil? %>
              <%= button_tag t("hyrax.collection.select_form.create_new"),
                        class: 'btn btn-default submits-batches submits-batches-add',
                        data: { toggle: "modal", dismiss: "modal", target: "#collection-create-container" } %>
            <% end %>
          </div><!-- /.modal-body -->
          <div class="modal-footer text-center lato-b">
            <%# @TODO: Send this link to new My Collections page %>
            <%= link_to 'View My Collections', Rails.application.routes.url_helpers.my_collections_path(:anchor => OregonDigital::ExploreCollectionsController::TABS[:my]) %>
          </div>
        <% else %>
          <div class="modal-body">
            <p>Please login or create an account to add this work to a collection:</p>

            <%= button_tag "<i class='fa fa-lock' aria-hidden='true'></i> #{t('hyrax.dashboard.my.action.log_in')}".html_safe,
                class: 'btn btn-primary btn-outline login-button',
                data: { toggle: "modal", dismiss: "modal", target: "#user-login-modal",
                tabindex: 0 } %>

            <%= link_to t('hyrax.dashboard.my.action.sign_up'), main_app.new_user_registration_path,
                class: 'btn btn-primary login-button',
                tabindex: 0 %>

          </div>
        <% end %>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->