<% search_page = !@search_state.blank? %>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-<%= search_page ? 7 : 10 %> col-sm-offset-1 col-md-5 col-md-offset-4">
        <%= render partial: 'catalog/search_form' %>
      </div>
      <% if search_page %>
        <div class="pull-right my-shelf">
          <%= button_to "Add results to My Shelf", root_path, class: 'btn btn-primary my-shelf-button' %>
          <%= label_tag "Add All on page to My Shelf" do %>
            <% raw("#{check_box_tag 'Add All on page to My Shelf'} Add All on page to My Shelf") %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="searchbar-buttons text-shadow col-xs-12 col-sm-<%= search_page ? 7 : 10 %> col-sm-offset-1 col-md-5 col-md-offset-4">
        <%= link_to "Advanced Search", Hyrax::Engine.routes.url_helpers.help_path, method: :get %>
        <%= link_to "New? Start Here", Hyrax::Engine.routes.url_helpers.help_path, method: :get %>
      </div>
    </div>
  </div>
</nav><!-- /.navbar -->
