<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="searchbar-right col-xs-push-1 col-sm-7 col-sm-push-3 col-md-5 col-md-push-4">
        <%= render partial: 'catalog/search_form' %>
      </div>
      <div class="col-md-offset-10">
        <%= button_to "Add results to My Shelf", root_path, class: 'btn btn-primary my-shelf-button' %>
        <%= label_tag "Add All on page to My Shelf" do %>
          <% raw("#{check_box_tag 'Add All on page to My Shelf'} Add All on page to My Shelf") %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="searchbar-buttons text-shadow col-xs-push-1 col-sm-7 col-sm-push-3 col-md-5 col-md-push-4">
        <%= link_to "Advanced Search", Hyrax::Engine.routes.url_helpers.help_path, method: :get %>
        <%= link_to "New? Start Here", Hyrax::Engine.routes.url_helpers.help_path, method: :get %>
      </div>
    </div>
  </div>
</nav><!-- /.navbar -->
