<div role="navigation">
  <div class="container site-title-container" style='padding-top: 50px;'>
    <h1 class="h2 site-title"><%= t('hyrax.product_name') %></h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <%= form_tag search_form_action, method: :get, class: "form-horizontal search-form", id: "masthead-search-form-header", role: "search" do %>
          <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
          <%= hidden_field_tag :search_field, 'all_fields', id: 'masthead_search_field' %>
          <div class="form-group">
            <div class="input-group homepage-black-background">
              <label class="sr-only" style="color: white;" for="masthead-search-field-header"><%= t("hyrax.search.form.q.label", application_name: application_name) %></label>
              <div class='input-group-prepend'>
                <button type="submit" class="btn btn-default" style='border: 0;' id="masthead-search-submit-header">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  <span class="sr-only" style="color: white;">Search Catalog</span>
                </button>
              </div>
              <%= text_field_tag 'q[]', current_search_parameters , class: "q form-control z-index-home", id: "masthead-search-field-header", title: "Masthead search field" %>
            </div><!-- /.input-group -->
          </div><!-- /.form-group -->
          <%= link_to 'Advanced', BlacklightAdvancedSearch::Engine.routes.url_helpers.advanced_search_path, class: 'advanced-link' %>
        <% end %>
      </div>
    </div>
  </div>
</div>