<nav class="navbar navbar-default navbar-static-top no-background" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="searchbar-right col-xs-push-1 col-sm-7 col-sm-push-3 col-md-5 col-md-push-4">
        <%= render partial: 'catalog/search_form' %>
      </div>
      <div class="col-md-offset-10">
        <%= button_to "Add results to My Shelf", root_path, class: 'btn btn-primary my-shelf-button' %>
        <%= label_tag "Add to My Shelf" do %>
          <% raw("#{check_box_tag 'Select all on page'} Select all on page") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-push-1 col-sm-7 col-sm-push-3 col-md-5 col-md-push-4">
      <%= link_to "Advanced Search", Hyrax::Engine.routes.url_helpers.help_path, method: :get, class: "push-left advanced-search-button" %>
      <%= link_to "New? Start Here", Hyrax::Engine.routes.url_helpers.help_path, method: :get, class: "new-here-button" %>
    </div>
  </div>
</nav><!-- /.navbar -->
