<% search_page = !@search_state.blank? %>

<nav class="navbar navbar-default navbar-static-top text-shadow" role="navigation" title="Search Bar">
  <div class="container site-title-container">
    <div class="site-title h1" style="text-align: center;">
      <h1><%= t('hyrax.search_the_archives') %></h1>
      Find more than 100,000 photographs, publications, and manuscripts.
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-<%= search_page ? 7 : 10 %> col-sm-offset-1 col-md-5 col-md-offset-4">
        <ul class="nav navbar-nav homepage-nav">
          <li>
              <%= form_tag search_form_action, method: :get, class: "form-horizontal search-form", id: "header-search-form-header", role: "search" do %>
                <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
                  <%= hidden_field_tag :search_field, 'all_fields', id: 'header_search_field' %>
                  <div class="form-group">

                    <label class="sr-only" for="header-search-field-header">
                      <%= t("hyrax.search.form.q.label", application_name: application_name) %>
                    </label>

                    <div class="input-group">
                      <%= text_field_tag :q, current_search_parameters , class: "q form-control", id: "header-search-field-header" %>
                      <button type="submit" class="" id="header-search-submit-header">
                        <i class="fa fa-search"></i>
                        <span class="sr-only">Search</span>
                      </button>
                    </div><!-- /.input-group -->

                  </div><!-- /.form-group -->
                  <%= link_to 'Advanced', BlacklightAdvancedSearch::Engine.routes.url_helpers.advanced_search_path, class: 'advanced-link' %>
                <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav><!-- /.navbar -->
