<nav class="navbar navbar-default navbar-static-top text-shadow" title="Search Bar">
  <div class="container site-title-container">
    <h1 class="h2 site-title"><%= t('hyrax.product_name') %></h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">
        <ul class="nav navbar-nav homepage-nav">
          <li style="background: none;">
              <%= form_tag search_form_action, method: :get, class: "form-horizontal search-form", id: "masthead-search-form-header", role: "search" do %>
                <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
                  <%= hidden_field_tag :search_field, 'all_fields', id: 'masthead_search_field' %>
                  <div class="form-group">

                    <div class="input-group">
                      <label class="sr-only" style="color: black;" for="masthead-search-field-header"><%= t("hyrax.search.form.q.label", application_name: application_name) %></label>
                      <%= text_field_tag 'q[]', current_search_parameters , class: "q form-control", id: "masthead-search-field-header", title: "Masthead search field" %>
                      <button type="submit" class="" id="masthead-search-submit-header">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <span class="sr-only" style="color: black;">Search Catalog</span>
                      </button>
                    </div><!-- /.input-group -->

                  </div><!-- /.form-group -->
                  <%= link_to 'Advanced', BlacklightAdvancedSearch::Engine.routes.url_helpers.advanced_search_path, class: 'advanced-link' %>
                <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav><!-- /.navbar -->
