<ul id="user_utility_links" class="nav navbar-nav navbar-right text-center">
  <li class="dropdown">
    <%= link_to 'Explore Collections', Rails.application.routes.url_helpers.explore_collections_path, class: 'explore-collections lato-b' %>
  </li>
  <li>
    <%= render 'shared/header_search' %>
  </li>
  <% if user_signed_in? %>
    <li class="dropdown">
      <%= link_to hyrax.dashboard_profile_path(current_user), role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false, controls: 'user-util-links' } do %>
        <span class="sr-only"><%= t("hyrax.toolbar.profile.sr_action") %></span>
        <span class="hidden-xs">&nbsp;My Account</span>
        <span class="sr-only"> <%= t("hyrax.toolbar.profile.sr_target") %></span>
        <span class="fa fa-user" aria-hidden="true"></span>
        <span class="caret"></span>
      <% end %>
      <ul id="user-util-links" class="dropdown-menu dropdown-menu-center text-center" role="menu">
        <% if can? :read, :admin_dashboard %>
          <li><%= link_to t("hyrax.toolbar.dashboard.menu"), hyrax.dashboard_path %></li>
        <% end %>
        <li><%= link_to 'My Collections', Rails.application.routes.url_helpers.explore_collections_path(:anchor => OregonDigital::ExploreCollectionsController::TABS[:my]) %></li>
        <% unless OregonDigital::UserAttributeService.new(current_user).institutional_user? %>
          <li><%= link_to "Change your password", edit_registration_path(current_user) %></li>
        <% end %>
        <li class="divider"></li>
        <li><%= link_to t("hyrax.toolbar.profile.logout"), main_app.destroy_user_session_path %></li>
      </ul>
    </li><!-- /.btn-group -->
  <% else %>
    <li>
      <%= button_tag "<i class='fa fa-lock' aria-hidden='true'></i> #{t('hyrax.dashboard.my.action.log_in')}".html_safe,
                   class: 'btn btn-primary btn-outline login-button',
                   data: { toggle: "modal", target: "#user-login-modal" } %>
    </li>
    <li>
      <%= link_to t('hyrax.dashboard.my.action.sign_up'), main_app.new_user_session_path,
                   class: 'btn btn-primary login-button' %>
    </li>
    <!--

    <li>
      <%= link_to "Help", Hyrax::Engine.routes.url_helpers.help_path %>
    </li>
    -->

  <% end %>
</ul>

<%= render 'hyrax/homepage/login_modal' %>