<% content_for(:navbar) do %>
  <div class="image-masthead">
    <div class="background-container" role="search">
      <%= image_tag('blimp.png', style: 'height:660px;width:100%;margin-top:-420px;background: black;', alt: "")%>
    </div>
    <div class="background-container background-container-overlay"></div>

    <div class="container site-title-container">
      <div class="site-title h1" style="text-align: center;">
        <%= render "hyrax/homepage/marketing" if controller_name == 'homepage' %>
      </div>
    </div>

    <%= render '/controls' %>
  </div>
<% end %>

<% content_for(:precontainer_content) do %>
  <%= render 'hyrax/homepage/announcement' if controller_name == 'homepage' %>
<% end %>

<%= render template: 'layouts/hyrax' %>
