<div class="citations">
    <% if Hyrax.config.citations? %>
      <h3>APA</h3>
      <%= export_as_apa_citation(@presenter) %>
      <h3><%= t('.header') %></h3>
      <%= export_as_mla_citation(@presenter) %>
      <h3>Chicago</h3>
      <%= export_as_chicago_citation(@presenter) %>
      <h3>Wiki Citation</h3>
      <%= export_as_wiki_citation(@presenter) %>
    <% end %>
</div>
