<%= "<h2 id=\"Content Warning\">Content Warning</h2>".html_safe %>
<%= "<h3 id=\"Blur Image\">Blur Image</h3>".html_safe %>
<p> Would you like to blur your image?</p>
<ul>
  <li class="radio">
    <label>
      <%= f.radio_button :mask_content, 'true' %>
      <%= t('hyrax.content_warning.item_show_page') %>
    </label>
  </li>
  <li class="radio">
    <label>
      <%= f.radio_button :mask_content, 'true' %>
      <%= t('hyrax.content_warning.search_results_page') %>
    </label>
  </li>
</ul>

<%= "<h3 id=\"Content Warning Statement\">Content Warning Statement</h3>".html_safe %>

<ul>
  <li class="radio">
    <label>
      <%= f.radio_button :content_alert, 'lorem ipsum 1' %>
      <%= t('hyrax.content_warning.lorem_ipsum_1') %>
    </label>
  </li>
  <li class="radio">
    <label>
      <%= f.radio_button :content_alert, 'lorem ipsum 2' %>
      <%= t('hyrax.content_warning.lorem_ipsum_2') %>
    </label>
  </li>
  <li class="radio">
    <label>
      <%#= f.radio_button :content_warning_text %>
      <%= t('hyrax.content_warning.create_your_own_warning_statement') %>
      <!-- Needs JS to support transplanting this value into the radio button value on submit -->
      <%#= f.text_field :content_warning_text, :class => "custom_content_warning" %>
    </label>
  </li>
</ul>