<tr class="<%= dom_class(member) %> attributes">
  <td class="attribute attribute-thumbnail">
    <%# MODIFY: Add in a class label to let blurred image based on work's setting %>
    <%= render_thumbnail_tag member, { alt: "file details", class: ("blurred-image" if !@presenter.mask_content.blank?) } %>
  </td>
  <th scope="row" class="attribute attribute-filename ensure-wrapped"><%= link_to(member.link_name, contextual_path(member, @presenter)) %> <br/><br/>
    <% if !member.accessibility_feature.blank? %>
      <%= visibility_badge(OregonDigital::AccessControls::AccessRight::ACCESSIBLE_TEXT_VALUE) %> <br/>
      <%= "Features: #{member.accessibility_feature.map { |a| accessibility_display(a) }.join(', ')}" %>
    <% end %>
  </td>
  <td class="attribute attribute-date_uploaded"><%= member.try(:date_uploaded) %></td>
  <td class="attribute attribute-permission"><%= member.permission_badge %></td>
  <td>
    <%= render 'actions', member: member %>
  </td>
</tr>
