<tr class="<%= dom_class(member) %> attributes">
  <td class="attribute attribute-thumbnail">
    <%= render_thumbnail_tag member, { alt: "file details" } %>
  </td>
  <th scope="row" class="attribute attribute-filename ensure-wrapped"><%= link_to(member.link_name, contextual_path(member, @presenter)) %> <br/>
    <% if !member.accessibility_feature.blank? %>
      <%= visibility_badge(OregonDigital::AccessControls::AccessRight::ACCESSIBLE_TEXT_VALUE) %> <br/>
      <%= "Features: #{member.accessibility_feature.join(', ')}" %>
    <% end %>
  </td>
  <td class="attribute attribute-date_uploaded"><%= member.try(:date_uploaded) %></td>
  <td class="attribute attribute-permission"><%= member.permission_badge %></td>
  <td>
    <%= render 'actions', member: member %>
  </td>
</tr>
