<div class="col-sm-6">
  <% @collection = Collection.find(@presenter.member_of_collection_ids.first) %>
  <% @member_work_1 = @collection.member_works[0, 3].first.members.to_a.delete_if { |work| !work.class.to_s.include?('FileSet') }.first unless @collection.member_works.first.nil? %>
  <% @member_work_2 = @collection.member_works[0, 3].second.members.to_a.delete_if { |work| !work.class.to_s.include?('FileSet') }.first unless @collection.member_works.second.nil? %>
  <% @member_work_3 = @collection.member_works[0, 3].third.members.to_a.delete_if { |work| !work.class.to_s.include?('FileSet') }.first unless @collection.member_works.third.nil? %>
  <% @collection_solr_doc = SolrDocument.find(@collection.id) %>
  <% if @member_work_1 %>
    <%= render 'show_page_collection_image', work_id: @member_work_1.id %>
  <% end %>
  <% if @member_work_2 %>
    <%= render 'show_page_collection_image', work_id: @member_work_2.id %>
  <% end %>
  <% if @member_work_3 %>
    <%= render 'show_page_collection_image', work_id: @member_work_3.id %>
  <% end %>
  <div class="col-sm-6">
    <p class='collection-title'><%= @collection.title.first %></p>
    <p>
      <%= @collection.member_works.length %> items
      &nbsp;
      <%= link_to_document SolrDocument.find(@collection_solr_doc.id), "View all" %>
    </p>
  </div>
</div>
<div class="col-sm-4">
  <p class="pull-right">
    <% if @collection.institution.first.to_s.include?("http://id.loc.gov/authorities/names/n80017721") %>
      <%= image_tag('osu_logo.png', height: 75, width: 75) %>
    <% elsif @collection.institution.first.to_s.include?("http://id.loc.gov/authorities/names/n80126183") %>
      <%= image_tag('uo.png', height: 75, width: 75) %>
    <% end %>
  </p>
</div>