
<% @collection_solr_doc = SolrDocument.find(@presenter.non_user_collections.first) %>
<div class="col-lg-8 col-12 collection-header collection-info">
  <div class="hyc-title">
    <div class="h3"><%= @collection_solr_doc.title.first %></div>
    <div class="collection-subtitle">
      <span class="lg-border-right item-count">
        <%= @presenter.total_viewable_items(@collection_solr_doc.id) %>
        <%= 'Item'.pluralize(@presenter.total_viewable_items(@collection_solr_doc.id)) %>
      </span>
      <span>
        <%#= link_to "View all items in collection", view_all_url %>
        <%= link_to_document @collection_solr_doc, "View all" %>
      </span>
    </div>
  </div>
</div>


<% if false %>
  <div class="col-sm-8">
    <% @collection_solr_doc = SolrDocument.find(@presenter.non_user_collections.first) %>
    <div class="col-sm-6 collection-info">
      <p class="collection-title h3"><%= @collection_solr_doc.title.first %></p>
      <p class="collection-data">
        <%= Hyrax::SolrService.query("non_user_collections:#{@presenter.non_user_collections.first}", fl: 'id', rows: 10000).length %> items
        <%= link_to_document @collection_solr_doc, "View all" %>
      </p>
    </div>
  </div>
<% end %>
