

<div class="action-buttons">
  <div class="d-flex flex-wrap justify-content-end">

    <div class='px-2 py-1'>
      <div class="edit-button-sections">
        <input type="checkbox"  style="display:none" name="batch_document_ids[]" id="batch_document_<%= presenter.id %>" value="<%= presenter.id %>" class="batch_document_selector edit-group" checked="checked" />
        <%= button_tag t('hyrax.dashboard.my.action.add_to_collection'),
                    class: 'btn btn-default submits-batches submits-batches-add',
                    data: { toggle: "modal", target: "#collection-list-container" },
                    disabled: ('disabled' if @presenter.solr_document['workflow_state_name_ssim']&.first&.capitalize == 'Tombstoned') %>
      </div>
    </div>

    <div class='px-2 py-1'>
      <div class="edit-button-sections">
        <%= button_tag 'Print <i class="fa fa-print" aria-hidden="true"></i>'.html_safe, class: 'btn btn-default pull-right', onclick: 'window.print();return false;'%>
      </div>
    </div>

    <div class='px-2 py-1'>
      <div class="edit-button-sections">
        <div class="dropdown">
          <button id="download-button" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"  aria-controls="download-list" aria-expanded="false" aria-haspopup="true">Download
          </button>
          <ul id="download-list" class="dropdown-menu" role="menu" aria-labelledby="download-button">
            <% if current_ability.can? :download, Hyrax.query_service.find_by_alternate_identifier(alternate_identifier: presenter.id) %>
              <li><%= link_to "Files (High Quality) + Metadata (ZIP)", main_app.send(:"download_hyrax_#{presenter.model_name.name.downcase}_path", presenter.id) %></li>
            <% end %>
            <li><%= link_to "Files (Standard Quality) + Metadata (ZIP)", main_app.send(:"download_low_hyrax_#{presenter.model_name.name.downcase}_path", presenter.id) unless (presenter.file_set_presenters.map { |p| p.mime_type }.include?('application/pdf') || presenter.file_set_presenters.map { |p| p.mime_type }.include?('application/vnd.ms-'))  %></li>
            <li><%= link_to "Metadata Only (CSV)", main_app.send(:"metadata_hyrax_#{presenter.model_name.name.downcase}_path", presenter.id) %></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <% if presenter.editor? %>
    <div class="d-flex flex-wrap justify-content-end">

      <div class='px-2 py-1'>
        <div class='edit-button-sections'>
          <%= link_to "Edit", edit_polymorphic_path([main_app, presenter]), class: 'btn btn-default' %>
        </div>
      </div>

      <div class='px-2 py-1'>
        <% if presenter.valid_child_concerns.length > 0 %>
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" type="button" id="attach-child-button" data-toggle="dropdown" aria-haspopup="true" aria-controls="attach-child-list"  aria-expanded="false">
            Attach Child</button>
            <ul id="attach-child-list" class="dropdown-menu" role="menu" aria-labelledby="attach-child-button">
              <% presenter.valid_child_concerns.each do |concern| %>
                <li>
                  <%= link_to "Attach #{concern.human_readable_type}", polymorphic_path([main_app, :new, :hyrax, :parent, concern.model_name.singular.to_sym], parent_id: presenter.id) %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <div class='px-2 py-1'>
        <% if @presenter.workflow.actions.present? && @presenter.solr_document['workflow_state_name_ssim']&.first&.capitalize == 'Deposited' %>
          <%= form_tag main_app.hyrax_workflow_action_path(presenter), method: :put do %>
            <%= hidden_field :workflow_action, :name, value: 'tombstone' %>
            <input class="btn btn-default" type="submit" value="Tombstone" data-confirm='<%= t('hyrax.tombstone.confirmation') %>'>
          <% end %>
        <% else %>
          <%= form_tag main_app.hyrax_workflow_action_path(presenter), method: :put do %>
            <%= hidden_field :workflow_action, :name, value: 'approve' %>
            <input class="btn btn-default" type="submit" value="Reapprove" data-confirm='<%= t('hyrax.tombstone.revert') %>' <%= disabled='disabled' unless (@presenter.solr_document['workflow_state_name_ssim']&.first&.capitalize == 'Tombstoned' && current_user.admin?) %>>
          <% end %>
        <% end %>
      </div>

      <div class='px-2 py-1'>
        <div class='edit-button-sections'>
          <%= link_to "Delete", [main_app, presenter], class: 'btn btn-warning', data: { confirm: "Delete this #{presenter.human_readable_type}?" }, method: :delete %>
        </div>
      </div>

    </div>

  <% end %>

  <% if Hyrax.config.analytics? && current_ability.admin? %>
    <div class="d-flex flex-wrap justify-content-end">
      <div class="px-2 py-1">
        <%= link_to "Analytics", presenter.stats_path, class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>


  <%# END OVERRIDE #%>
  <!-- >
  <% if presenter.work_featurable? %>
      <%= link_to "Feature", hyrax.featured_work_path(presenter, format: :json),
          data: { behavior: 'feature' },
          class: presenter.display_unfeature_link? ? 'btn btn-default collapse' : 'btn btn-default' %>

      <%= link_to "Unfeature", hyrax.featured_work_path(presenter, format: :json),
          data: { behavior: 'unfeature' },
          class: presenter.display_feature_link? ? 'btn btn-default collapse' : 'btn btn-default' %>
  <% end %>


  <-->
</div>

<!-- COinS hook for Zotero -->
  <span class="Z3988" title="<%= export_as_openurl_ctx_kev(presenter) %>"></span>
<!-- Render Modals -->
<%= render 'hyrax/dashboard/collections/form_for_select_collection', user_collections: @user_collections %>
<%= render 'oregon_digital/dashboard/collections/form_for_create_collection' %>
