<div class="not-show-actions">
  <div class='row pull-right'>

    <div class='col-md-4 pull-right'>
    <div class="edit-button-sections">
      <div class="dropdown">
        <% file_sets_list = @presenter.file_set_presenters.map { |fs| fs.accessibility_feature }.flatten if !@presenter.file_set_presenters.blank? %>
        <% @disable_link = file_sets_list.any? { |v| %w[none unknown].include?(v) } || file_sets_list.blank? %>
        <button id="download-button" class="btn btn-primary dropdown-toggle" style='width: 130%;' type="button" data-toggle="dropdown"  aria-controls="download-list" aria-expanded="false" aria-haspopup="true">Download
        <span class="caret-dropdown"></span></button>
        <ul id="download-list" class="dropdown-menu" role="menu" aria-labelledby="download-button">
          <% if current_ability.can? :download, Hyrax.query_service.find_by_alternate_identifier(alternate_identifier: presenter.id) %>
            <li class="<%= 'disabled-link-dropdown' if @disable_link == false %>"><%= link_to "Files (High Quality)", main_app.send(:"download_hyrax_#{presenter.model_name.name.downcase}_path", presenter.id) %></li>
          <% end %>
          <li class="<%= 'disabled-link-dropdown' if @disable_link == false %>"><%= link_to "Files (Standard Quality)", main_app.send(:"download_low_hyrax_#{presenter.model_name.name.downcase}_path", presenter.id) unless (presenter.file_set_presenters.map { |p| p.mime_type }.include?('application/pdf') || presenter.file_set_presenters.map { |p| p.mime_type }.include?('application/vnd.ms-'))  %></li>
          <li><%= link_to "Individual Files", "#file-set-individual" %></li>
        </ul>
      </div>
    </div>
    </div>

    <div class='col-md-4 pull-right no-left-padding'>
    <div class="edit-button-sections">
      <input type="checkbox"  style="display:none" name="batch_document_ids[]" id="batch_document_<%= presenter.id %>" value="<%= presenter.id %>" class="batch_document_selector edit-group" checked="checked" />
      <%= button_tag t('hyrax.dashboard.my.action.add_to_collection'),
                  class: 'btn btn-default submits-batches submits-batches-add add-to-align',
                  data: { toggle: "modal", target: "#collection-list-container" },
                  disabled: ('disabled' if @presenter.solr_document['workflow_state_name_ssim']&.first&.capitalize == 'Tombstoned') %>
    </div>
    </div>

    <div class='col-md-4 pull-right'>
    <div class="edit-button-sections">
      <%= button_tag 'Print <i class="fa fa-print" aria-hidden="true"></i>'.html_safe, class: 'btn btn-default pull-right print-button', onclick: 'window.print();return false;'%>
    </div>
    </div>

  </div>
  <div class='row pull-right' style="margin-top: 5px;">
  <% if presenter.editor? %>

    <div class='col-md-3 pull-right'>
      <div class='edit-button-sections'>
        <%= link_to "Delete", [main_app, presenter], class: 'btn delete-button-show-page align-button', data: { confirm: "Delete this #{presenter.human_readable_type}?" }, method: :delete %>
      </div>
    </div>

    <div class='col-md-3 pull-right no-left-padding right-padded'>
      <% if @presenter.workflow.actions.present? && @presenter.solr_document['workflow_state_name_ssim']&.first&.capitalize == 'Deposited' %>
        <%= form_tag main_app.hyrax_workflow_action_path(presenter), method: :put do %>
          <%= hidden_field :workflow_action, :name, value: 'tombstone' %>
          <input class="btn btn-default" style='width: 105%;' type="submit" value="Tombstone" data-confirm='<%= t('hyrax.tombstone.confirmation') %>'>
        <% end %>
      <% else %>
        <%= form_tag main_app.hyrax_workflow_action_path(presenter), method: :put do %>
          <%= hidden_field :workflow_action, :name, value: 'approve' %>
          <input class="btn btn-default" style='width: 105%;' type="submit" value="Reapprove" data-confirm='<%= t('hyrax.tombstone.revert') %>' <%= disabled='disabled' unless (@presenter.solr_document['workflow_state_name_ssim']&.first&.capitalize == 'Tombstoned' && current_user.admin?) %>>
        <% end %>
      <% end %>
    </div>

    <div class='col-md-5 pull-right'>
      <% if presenter.valid_child_concerns.length > 0 %>
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" type="button" id="attach-child-button" data-toggle="dropdown" aria-haspopup="true" aria-controls="attach-child-list"  aria-expanded="false">
          Attach Child <span class="attach-caret-dropdown"></span></button>
          <ul id="attach-child-list" class="dropdown-menu" role="menu" aria-labelledby="attach-child-button">
            <% presenter.valid_child_concerns.each do |concern| %>
              <li>
                <%= link_to "Attach #{concern.human_readable_type}", polymorphic_path([main_app, :new, :hyrax, :parent, concern.model_name.singular.to_sym], parent_id: presenter.id) %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class='col-md-1 pull-right'>
      <div class='edit-button-sections'>
        <%= link_to "Edit", edit_polymorphic_path([main_app, presenter]), class: 'btn btn-default' %>
      </div>
    </div>

  <% end %>
  </div>


  <%# END OVERRIDE #%>
  <!-- >
  <% if presenter.work_featurable? %>
      <%= link_to "Feature", hyrax.featured_work_path(presenter, format: :json),
          data: { behavior: 'feature' },
          class: presenter.display_unfeature_link? ? 'btn btn-default collapse' : 'btn btn-default' %>

      <%= link_to "Unfeature", hyrax.featured_work_path(presenter, format: :json),
          data: { behavior: 'unfeature' },
          class: presenter.display_feature_link? ? 'btn btn-default collapse' : 'btn btn-default' %>
  <% end %>


  <-->
</div>

<!-- COinS hook for Zotero -->
  <span class="Z3988" title="<%= export_as_openurl_ctx_kev(presenter) %>"></span>
<!-- Render Modals -->
<%= render 'hyrax/dashboard/collections/form_for_select_collection', user_collections: @user_collections %>
<%= render 'oregon_digital/dashboard/collections/form_for_create_collection' %>
