<% page_title ||= content_for?(:page_title) ? content_for(:page_title) : default_page_title %>
<% share_url ||= request.original_url %>
<div class="social-media pull-right">
  <span class="mw-lg-b">
    Share this:
  </span>
  <!-- Sharingbutton Facebook -->
  <%= link_to "https://facebook.com/sharer/sharer.php?#{{u: share_url}.to_param}", class: 'share-button share-button-facebook', target: '_blank', rel: 'noopener noreferrer', title: t('hyrax.base.social_media.facebook'), 'aria-label': t('hyrax.base.social_media.facebook') do %>
    <i class="fa fa-facebook-square"></i>
  <% end %>

  <!-- Sharingbutton Twitter -->
  <%= link_to "https://twitter.com/intent/tweet/?#{{text: page_title, url: share_url}.to_param}", class: 'share-button share-button-twitter', target: '_blank', rel: 'noopener noreferrer', title: t('hyrax.base.social_media.twitter'), 'aria-label': t('hyrax.base.social_media.twitter') do %>
    <i class="fa fa-twitter"></i>
  <% end %>
  
  <input id="list-<%= share_url.split("/").last.split("?").first %>-share-link" value="<%= share_url %>" readonly>
  <button class="copy-single-use-link btn btn-success" data-clipboard-target="#list-<%= share_url.split("/").last.split("?").first %>-share-link" data-clipboard-action="copy" data-toggle="tooltip" data-placement="bottom" title="Copied!" onclick="toggleCopied(this)" aria-label="Copy Link to Clipboard">
    Copy
  </button>
</div>
