<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div class="row work-type">
  <%# OVERRIDE FROM HYRAX remove work type heading %>
  <div class="col-xs-12">&nbsp;</div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
      Collection and University Logo
      <hr style='border-width: 15px;'>
      <%= render 'work_title', presenter: @presenter %>
      <hr style='border-width: 3px;'>
        <div class="row">
          <% if can?(:review, @presenter.solr_document) %>
           <%= render 'workflow_actions_widget', presenter: @presenter %>
          <% end %>
          <% if @presenter.iiif_viewer? %>
            <div class="col-sm-12">
              <%= render 'representative_media', presenter: @presenter, viewer: true %>
            </div>
          <% end %>
        </div>
        <div class="col-sm-9">
        </div>
        <div class="col-sm-3">
          <%= render 'social_media' %>
        </div>
        <div class='row'>
          <div class='col-md-8 col-sm-6'>
            <%# OVERRIDE FROM HYRAX remove work description %>
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#metadata" aria-controls="metadata" role="tab" data-toggle="tab">
                  <%= t("hyrax.works.form.tab.metadata") %>
                </a>
              </li>
              <li role="presentation">
                <a href="#citations" aria-controls="citations" role="tab" data-toggle="tab">
                  <%= t("hyrax.works.form.tab.how_to_cite") %>
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="metadata">
                <div class="form-tab-content">
                  <% # metadata_tab is sometimes provided %>
                  <%= render 'metadata', presenter: @presenter %>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="citations">
                <div class="form-tab-content">
                  <% # metadata_tab is sometimes provided %>
                  <%= render 'citations', presenter: @presenter %>
                </div>
              </div>
            </div>
          <div class='col-md-4 col-sm-6 text-center'>
            <%#= render 'relationships', presenter: @presenter %>
            <%#= render 'representative_media', presenter: @presenter, viewer: false unless @presenter.iiif_viewer? %>
            <%# OVERRIDE FROM HYRAX remove work citations %>
            <%#= render 'license' %>
            <%#= render 'print' %>
            <%#= render 'items', presenter: @presenter %>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-8 col-sm-6'>
            <%#= render 'citations', presenter: @presenter %>
          </div>
        </div>
        Explore More
        <hr style='border-width: 3px;'>
      </div>
  </div>
</div>
