<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div class="row work-type">
  <%# OVERRIDE FROM HYRAX remove work type heading %>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <div class='row'>
      <%#= render 'show_collection_header', presenter: @presenter unless @presenter.member_of_collection_ids.empty? %>
      <%= render 'show_institution_header', presenter: @presenter unless @presenter.institution.empty? %>
    </div>
      <hr style='border-width: 15px;'>
      <%= render 'work_title', presenter: @presenter %>
      <hr style='border-width: 3px;'>
      <div class="row">
        <% if can?(:review, @presenter.solr_document) %>
          <%= render 'workflow_actions_widget', presenter: @presenter %>
        <% end %>
        <% if @presenter.oembed_viewer? %>
          <% @presenter.file_set_presenters.each do |presenter| %>
            <%= render 'oembed_media', presenter: presenter %>
          <% end %>
        <% elsif @presenter.iiif_viewer? %>
          <div class="col-sm-12">
            <%= render 'representative_media', presenter: @presenter, viewer: true %>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12">
      </div>
      <div class="row">
        <%= render 'social_media' %>
      </div>
      <div class='row'>
        <%# OVERRIDE FROM HYRAX remove work description %>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#metadata" aria-controls="metadata" role="tab" data-toggle="tab">
              <h2 class="h4"><%= t("oregon_digital.works.form.tab.details") %></h2>
            </a>
          </li>
          <li role="presentation">
            <a href="#citations" aria-controls="citations" role="tab" data-toggle="tab">
              <h2 class="h4"><%= t("oregon_digital.works.form.tab.how_to_cite") %></h2>
            </a>
          </li>
          <li role="presentation">
            <a href="#contact_us" aria-controls="contact_us" role="tab" data-toggle="tab">
              <h2 class="h4"><%= t("oregon_digital.works.form.tab.contact_us") %></h2>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="metadata">
            <div class="form-tab-content">
              <% # metadata_tab is sometimes provided %>
              <%= render 'metadata', presenter: @presenter %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="citations">
            <div class="form-tab-content">
              <% # metadata_tab is sometimes provided %>
              <%= render 'citations', presenter: @presenter %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="contact_us">
            <div class="form-tab-content">
              <% # metadata_tab is sometimes provided %>
              <%= render 'work_contact_form', presenter: @presenter %>
            </div>
          </div>
        </div>
      </div>

      <!-- Renders children of a parent work -->
      <% children = @presenter.member_presenters.delete_if { |work| work.class.to_s.include?('FileSet') } %>
      <% if children.length > 0 %>
        <div class='row'>
          <div class='col-sm-12'>
            <h2 class='h4'>Contained In This Object:</h2> &nbsp; <%= children.length %> items
            <hr style='border-width: 3px;'>
            <%= render 'paginated_works', works: children %>
          </div>
        </div>
      <% end %>

      <% in_work_ids = ActiveFedora::Base.find(@presenter.id).in_work_ids %>
      <% unless in_work_ids.empty? %>
        <!-- Renders parent of a work. -->
        <% parent = ActiveFedora::Base.find(in_work_ids.first)%>
        <% parent_presenter = OregonDigital::WorkToPresenterConverter.convert_to_presenter(parent, current_ability) %>
        <div class='row'>
          <div class='col-sm-12'>
            <h2 class='h4'>Contained In:</h2>
            <hr style='border-width: 3px;'>
            <%= render 'paginated_works', works: [parent_presenter] %>
          </div>
        </div>
        <!-- Renders siblings of a work -->
        <% siblings = parent_presenter.member_presenters.delete_if { |work| work.class.to_s.include?('FileSet') || work.title.first == @presenter.title.first } %>
        <% if siblings.length > 0 %>
          <div class='row'>
            <div class='col-sm-12'>
              <h2 class='h4'>Related Items:</h2> &nbsp; <%= siblings.length %> items
              <hr style='border-width: 3px;'>
              <%= render 'paginated_works', works: siblings %>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if current_ability.can?(:view, FileSet) %>
        <!-- Renders file manager -->
        <div class='row'>
          <div class='col-sm-12'>
            <div id='work-show-file-sets' class='flex-container'>
              <div class='flex-item file-set-title'>
                <h2 class='h4'>Works and Files</h2>
              </div>
              <% if @presenter.member_presenters.size > 1 %>
                <div class='flex-item file-set-manager'>
                  <%= link_to t("hyrax.file_manager.link_text"), polymorphic_path([main_app, :file_manager, @presenter]), class: 'btn btn-primary pull-right' %>
                </div>
              <% end %>
            </div>
              <hr style='border-width: 3px;'>
              <%= render 'items', presenter: @presenter %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
