<%= render 'shared/citations' %>

<div class="row work-type">
  <%# OVERRIDE FROM HYRAX remove work type heading %>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <div class='row'>
      <%= render 'show_collection_header', presenter: @presenter unless @presenter.non_user_collections.blank? %>
      <%= render 'show_institution_header', presenter: @presenter unless @presenter.institution.blank? %>
    </div>
      <hr style='border-width: 15px;'>
      <%= render 'work_title', presenter: @presenter %>
      <hr style='border-width: 3px;'>
      <div class="row">
        <% if @presenter.solr_document['workflow_state_name_ssim'] && @presenter.solr_document['workflow_state_name_ssim'].first == 'tombstoned' %>
          <%= render 'tombstoned_work', presenter: @presenter%>
        <% end %>
        <% if can?(:review, @presenter.solr_document) %>
          <%= render 'workflow_actions_widget', presenter: @presenter %>
        <% end %>
        <% if @presenter.oembed_viewer? %>
          <% @presenter.file_set_presenters.each do |presenter| %>
            <%= render 'oembed_media', presenter: presenter %>
          <% end %>
        <% elsif @presenter.iiif_viewer? %>
          <div class="col-sm-12">
            <%= render 'representative_media', presenter: @presenter, viewer: true %>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12">
      </div>
      <div class="row">
        <%= render 'social_media' %>
      </div>

      <!-- Create render display for the Local Contexts Icon -->
      <% if !@presenter.local_contexts.blank? %>
        <br/>
        <%= render 'oregon_digital/base/local_contexts', work_lc: @presenter, location_name: 'work' %>
        <br/>
      <% end %>

      <div class='row'>
        <%# OVERRIDE FROM HYRAX remove work description %>
        <ul class="nav nav-tabs" id="work-show-tablist">
          <li class="active">
            <div class="tab-padding" role="heading" aria-level="2">
              <a id="metadata_button" href="#metadata" class="btn-link" aria-controls="metadata" aria-expanded="false" aria-disabled="false" role="button" data-toggle="tab">
                <span class="h4"><%= t("oregon_digital.works.form.tab.details") %></span>
              </a>
            </div>
          </li>
          <li>
            <div class="tab-padding" role="heading" aria-level="2">
              <a id="citations_button"  href="#citations" class="btn-link" aria-controls="citations" aria-expanded="false" aria-disabled="false" role="button" data-toggle="tab">
                <span class="h4"><%= t("oregon_digital.works.form.tab.how_to_cite") %></span>
              </a>
            </div>
          </li>
          <li>
            <div class="tab-padding" role="heading" aria-level="2">
              <a id="data_sources_button"  href="#data_sources" class="btn-link" aria-controls="data_sources" aria-expanded="false" aria-disabled="false" role="button" data-toggle="tab">
                <span class="h4"><%= t("oregon_digital.works.form.tab.data_sources") %></span>
              </a>
            </div>
          </li>
          <li>
            <div class="tab-padding" role="heading" aria-level="2">
              <a id="accessibility_copy_button"  href="#accessibility_copy" class="btn-link" aria-controls="accessibility_copy" aria-expanded="false" aria-disabled="false" role="button" data-toggle="tab">
                <span class="h4"><%= t("oregon_digital.works.form.tab.accessibility_copy") %></span>
              </a>
            </div>
          </li>
          <li>
            <div class="tab-padding" role="heading" aria-level="2">
              <a id="contact_us_button" href="#contact_us" class="btn-link" aria-controls="contact_us" aria-expanded="false" aria-disabled="false" role="button" data-toggle="tab">
                <span class="h4"><%= t("oregon_digital.works.form.tab.contact_us") %></span>
              </a>
            </div>
          </li>
        </ul>
        <div class="tab-content">
          <div role="region" aria-labelledby="metadata_button" class="tab-pane active" id="metadata">
            <div class="form-tab-content">
              <% # metadata_tab is sometimes provided %>
              <%= render 'metadata', presenter: @presenter %>
            </div>
          </div>
          <div role="region" aria-labelledby="citations_button" class="tab-pane" id="citations">
            <div class="form-tab-content">
              <% # metadata_tab is sometimes provided %>
              <%= render 'citations', presenter: @presenter %>
            </div>
          </div>
          <div role="region" aria-labelledby="data_sources_button" class="tab-pane" id="data_sources">
            <div class="form-tab-content">
              <% # metadata_tab is sometimes provided %>
              <%= render 'data_sources', presenter: @presenter %>
            </div>
          </div>
          <div role="region" aria-labelledby="accessibility_copy_button" class="tab-pane" id="accessibility_copy">
            <div class="form-tab-content">
              <% # metadata_tab is sometimes provided %>
              <%= render 'accessibility_copy', presenter: @presenter %>
            </div>
          </div>
          <div role="region" aria-labelledby="contact_us_button" class="tab-pane" id="contact_us">
            <div class="form-tab-content">
              <% # metadata_tab is sometimes provided %>
              <%= render 'work_contact_form', presenter: @presenter %>
            </div>
          </div>
        </div>
      </div>

      <!-- Renders children of a parent work -->
      <% @response = @child_response %>
      <% @document_list = @child_doc_list %>
      <% if @document_list.length > 0 %>
        <div class='row'>
          <div class='col-sm-12 contained-in'>
            <h2 class='h4'>Contained In This Object</h2> &nbsp; <%= @response['response']['numFound'] %> items
            <hr style='border-width: 3px;'>
            <%= render 'search_results', param_name: :child_page %>
          </div>
        </div>
      <% end %>

      <% @response = @parent_response %>
      <% @document_list = @parent_doc_list %>
      <% if @document_list.length > 0 %>
        <!-- Renders parent of a work. -->
        <div class='row'>
          <div class='col-sm-12'>
            <h2 class='h4'>Is Part Of</h2>
            <hr style='border-width: 3px;'>
            <%= render 'search_results', param_name: :parent_page %>
          </div>
        </div>
      <% end %>
      <% @response = @sibling_response %>
      <% @document_list = @sibling_doc_list %>
      <!-- Renders siblings of a work -->
      <% if @document_list.length > 0 %>
        <div class='row'>
          <div class='col-sm-12'>
            <h2 class='h4'>Related Items</h2> &nbsp; <%= @response['response']['numFound'] %> items
            <hr style='border-width: 3px;'>
            <%= render 'search_results', param_name: :sibling_page %>
          </div>
        </div>
      <% end %>
      <% if current_ability.can?(:view, FileSet) %>
        <div class='row'>
          <!-- Renders file manager -->
          <div class='col-sm-12'>
            <div id='work-show-file-sets' class='flex-container'>
              <div class='flex-item file-set-title'>
                <h2 class='h4'>Works and Files</h2>
              </div>
              <% if @presenter.member_presenters.size > 1 %>
                <div class='flex-item file-set-manager'>
                  <%= link_to t("hyrax.file_manager.link_text"), polymorphic_path([main_app, :file_manager, @presenter]), class: 'btn btn-primary pull-right' %>
                </div>
              <% end %>
            </div>
              <hr style='border-width: 3px;'>
              <%= render 'items', presenter: @presenter %>
          </div>
          <!-- Renders user history -->
          <div class='col-sm-12'>
            <%= render 'hyrax/users/activity_log', events: @presenter.events %>
          </div>
        </div>
      <% end %>
      <% if current_ability.admin? %>
        <div class='row'>
          <div class='col-sm-12'>
            <h2 class='h4'>Administrative Metadata</h2>
            <br/><br/>
            <% work_metadata = SolrDocument.find(@presenter.id) %>
            <% entry = Bulkrax::Entry.find_by(identifier: work_metadata.bulkrax_identifier.first) if !work_metadata.bulkrax_identifier.blank? %>
            <ul>
              <li><p><span style="font-weight: bold;">Last Indexed Date:</span> <%= work_metadata.timestamp %></p></li>
              <li><p><span style="font-weight: bold;">Admin Set:</span> <%= work_metadata.admin_set.first %> (<%= link_to(work_metadata.fetch(:primarySet_ssim, []).first, CGI.unescape(admin_admin_set_url(work_metadata.dig(:primarySet_ssim, 0))), target: "_blank") %>)</p></li>
              <li><p><span style="font-weight: bold;">Depositor:</span> <%= link_to(work_metadata.depositor, "#{request.base_url}#{admin_workflows_path(f: { depositor_ssim: [work_metadata.depositor] }, local: I18n.locale)}", target: "_blank") %></p></li>
              <li><p><span style="font-weight: bold;">Bulkrax Importer ID:</span> <%= !work_metadata.bulkrax_identifier.blank? ? link_to(work_metadata.bulkrax_identifier.first, "#{request.base_url}#{bulkrax.importer_path(entry.importerexporter_id)}", target: "_blank") : 'None' %></p></li>
            </ul>
          </div>
        </div>
      <% end %>
  </div>
</div>
